[2014-02-04 03:06] Eilon opened #1 "Rename ICanHas* to a better name"
Some suggestions:

[code]

[2014-02-09 18:19] pranavkm opened #3 "Modify IReadableStringCollection to allow better querying of values"
- Add a Keys and Count method so it looks somewhat like a collection
- Modify GetValue to return a struct that returns either a single value or a list of values. This would avoid extra array allocations for the most common case when keys have exactly one value.

[2014-02-28 18:52] pranavkm opened #10 "Provide a convenience method to determine Culture from the Accept-Language header"
Ported from https://github.com/aspnet/Helios/issues/2

[2014-03-03 23:50] glennc opened #11 "Make HTTP feature interfaces assembly neutral"

[2014-03-03 23:51] glennc opened #12 "Review HTTP Abstractions"
Review how usable the abstractions are. HttpContext, HttpRequest, HttpResponse and family.

[2014-03-03 23:53] glennc opened #13 "Create authentication gestures"
Sign in, sign out, challenge, authenticate, user.

[2014-03-03 23:54] glennc opened #14 "Review Http interface boundaries"
Confirm that the interface boundaries are correct.

[2014-03-10 19:17] pranavkm opened #15 "Add ContentLength, ContentType to HttpRequest"
We already do this with HttpResponse. It would make sense to keep the two things symmetrical.

[2014-03-11 23:41] glennc opened #18 "Add interface for client disconnected token"
Look at existing behavior and think about how it should behave today.

[2014-03-14 19:29] pranavkm opened #19 "Add support for parsing specific header values"
This is an extension of #15. MVC uses the media type segment of the content type for determining what value provider \ input formatter to use. It would be convenient for framework developers to have this as part of HttpAbstractions \ some common code that sits on top of HttpAbstractions.

[2014-03-15 18:07] davidfowl opened #20 "Add IBuilder support for Map"
Map is missing and SignalR needs it to implement MapSignalR

[2014-03-18 05:57] loudej opened #22 "Rename IBuilder.ServiceProvider"
Should be IBuilder.Services or IBuilder.ApplicationServices

[2014-03-23 18:05] davidfowl opened #25 "Make User available on the Http* abstraction without reaching into the feature interface"
We need to expose the current IPrincipal (ClaimsPrincipal?) to the current request

[2014-03-24 07:24] davidfowl opened #26 "Determine what namespace IBuilder extension methods should be put in"
Today, the diagnostic middleware is in Microsoft.AspNet, the IBuilder itself is in Microsoft.AspNet.Abstractions and Routing is in Microsoft.AspNet.Routing. Let's decide if we want to put these in the same namespace or keep them different (which sucks for discoverability).

[2014-03-27 17:21] #15 closed, assigned to nobody

[2014-03-31 20:44] rynowak opened #28 "Add convenience method for building fully-qualified urls"
Right now we have code like:

[code]

Ideally we'd have a method like 'create url relative to current app'

[2014-04-03 19:54] pranavkm opened #31 "PathString.Add(PathString) does not handle trailing slashes correctly"

[2014-04-03 21:00] #31 closed, assigned to nobody

[2014-04-04 23:08] javiercn opened #33 "Add support for fragment in HttpRequest"
Currently there's no way to get to the fragment in an HttpRequest

[2014-04-08 16:04] Tratcher opened #34 "HttpContext.User should never return null"
In System.Web the default user is always a GenericIdentity with IsAuthenticated = false.  This guarantee simplifies the following common code:

[code]

[2014-04-11 02:33] #33 closed, assigned to nobody

[2014-04-14 07:50] davidfowl opened #38 "HttpContext.Items[key] shouldn't throw"
For all the same reasons we have non `IDictionary<T, K>` types for Cookies, Form, QueryString etc. The usage pattern is normally:

[code]

[2014-04-16 03:12] davidfowl opened #40 "Make all interfaces in HttpFeature assembly neutral"

[2014-04-16 18:55] GrabYourPitchforks opened #42 "Allow a way to mark all cookies as "HTTP only" and "SSL required" by default"
Basically, this would be an equivalent to the ```<httpCookies>``` element in Web.config:

[code]

Allows marking all cookies with these flags regardless of how the CookieOptions object is constructed.  More info at http://msdn.microsoft.com/en-us/library/ms228262(v=vs.100).aspx.

[2014-04-16 21:37] #40 closed, assigned to nobody

[2014-04-16 21:38] davidfowl opened #43 "Remove the converter code"
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.FeatureModel/Implementation/Converter.cs

[2014-04-16 21:39] #25 closed, assigned to nobody

[2014-04-16 21:42] davidfowl opened #44 "Put core middleware "together""
This still needs some design work but these middleware a core to pretty much every application:
- Map
- Run
- UseMiddleware(middlewareType)
- UseServices

There could be a meta package that brings these in.

[2014-04-16 21:44] #13 closed, assigned to nobody

[2014-04-16 22:05] davidfowl opened #45 "Error handler middleware (Replacement for Application_Error on Global.asax)"
Production use error handling.

Has a callback for the application to decide what to do on an error, up to and including re-executing the pipeline to produce the error page.

[2014-04-17 19:20] rynowak opened #46 "Add IsLocalUrl or something similar"
This is part of the WebFx surface area for back compat, but it's pretty low-level url functionality. We're hoping it can find a home somewhere in abstractions. Need this in some form for alpha

Used to determine if a url specifies a hostname.

`//localhost/foo` => false
`/foo` => true

Pre-existing already-security-reviewed code: https://aspnetwebstack.codeplex.com/SourceControl/latest#src/System.

[2014-04-18 05:49] #22 closed, assigned to davidfowl

[2014-04-22 01:21] lodejard opened #47 "Change OWIN support based on community recommendations"
https://github.com/owin/owin/issues/19#issuecomment-40743259

The signature recommended is this

[code]

Which means we have the following extension methods

[code]

Intended usage from startup class

[code]

Intended usage from other tech

[code]

[2014-04-23 23:35] kichalla opened #50 "Make it easier to extract keys from query string"
In MVC/Web API a request's query string could be parsed to be a `NameValueCollection`, where it was easier to get the keys, but currently its `IReadableStringCollection` where its not as straight forward

[2014-04-25 05:14] davidfowl opened #53 "Response.Challenge shouldn't throw if no auth type specified"
Challange should equate to 401 and shouldn't throw if no auth type is specified. Today this happens:

![image](https://cloud.githubusercontent.com/assets/95136/2797681/61bd6488-cc38-11e3-8ed8-79929d73060a.png)

This should only happen if an auth type is specified but not understood.

[2014-04-25 18:56] glennc opened #55 "Equivalent for HttpServerUtility.UrlTokenDecode and HttpServerUtility.UrlTokenEncode"
Needed to resolve: aspnet/webfx#291 and aspnet/WebFx#180

[2014-04-28 18:21] victorhurdugaci opened #56 "Server.MapPath is missing"
The Server.MapPath (or another simple alternative) method is missing.
http://msdn.microsoft.com/en-us/library/ms524632(v=vs.90).aspx

The workaround seems to be getting an instance IApplicationEnvironment from the service provider and manually combining the ApplicationBasePath and the relative path.

cc @rynowak

[2014-05-05 17:23] #11 closed, assigned to ChengTian

[2014-05-05 22:18] #47 closed, assigned to Tratcher

[2014-05-05 22:18] #20 closed, assigned to Tratcher

[2014-05-05 22:18] #38 closed, assigned to Tratcher

[2014-05-05 22:18] #18 closed, assigned to Tratcher

[2014-05-05 22:18] #34 closed, assigned to Tratcher

[2014-05-05 22:18] #43 closed, assigned to davidfowl

[2014-05-05 22:18] #53 closed, assigned to Tratcher

[2014-05-13 15:12] darrelmiller opened #63 "GetFormAsync does not belong on HttpRequest class"
`GetFormAsync` makes the assumption that the request body is `application/x-www-form-urlencoded`.  This is often not the case. HTTPAbstractions should enable all payload media types to be handled in a consistent way.

[2014-05-13 15:54] #63 closed, assigned to nobody

[2014-05-19 22:14] #1 closed, assigned to Tratcher

[2014-05-19 22:17] #44 closed, assigned to Tratcher

[2014-05-19 22:18] #26 closed, assigned to davidfowl

[2014-05-25 19:57] davidfowl opened #64 "Unit tests hang on mono"
This isn't specific to HttpAbstractions but it does hang here consitently

https://bugzilla.xamarin.com/show_bug.cgi?id=20031

[2014-05-28 20:20] rynowak opened #65 "Add a convenience API for building a query string"
Routing currently has it's own code for building a query string from key-value pairs. It would be great to have an API like this in http abstractions so we don't end up repeating ourselves.

See: https://github.com/aspnet/Routing/blob/dev/src/Microsoft.AspNet.Routing/Template/TemplateBinder.cs#L221

[2014-05-29 18:09] yishaigalatzer opened #66 "Need convenience API to write strings & buffered response to body"
Right now when trying to write strings to the output, there is lots of user code required to account for computing content-length, dealing with encoding etc.

The responsibility for this shouldn't be in MVC or user code, as its very error prone and repetitive code.

I realize this might belong in a helper library and not in abstractions, but we don't have that library anywhere I'm aware of.

[2014-05-30 18:56] nathanaeljones opened #67 "Publish the spec behind the Micrsoft Querystring Parsing and Serialization rules"
Could we get some light shed on the whys/hows of [querystring handling logic in vNext](https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.PipelineCore/Infrastructure/ParsingHelpers.cs#L558)? Previous [versions](http://referencesource.microsoft.com/#System.Web/xsp/system/Web/HttpValueCollection.cs#159) have been inconsistent at best, and this seems like a great chance to fix t

[2014-06-03 18:10] yishaigalatzer opened #68 "Provide parsed Accept and ContentType headers"
Something ala - http://msdn.microsoft.com/en-us/library/system.net.http.headers.mediatypewithqualityheadervalue(v=vs.118).aspx

[2014-06-04 21:46] yishaigalatzer opened #69 "IList<string> on public APIs?"
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http/HttpResponse.cs#L58

This code and similar related APIs expose IList<string> where the API could be either

`IEnumerable<string>` or `IReadOnlyList<string>`

This ties to ChallengeResult in MVC and Security calls.

Should this API stay as is, or should we switch it?

[2014-06-10 21:32] davidfowl opened #70 "IHttpTransportLayerSecurityFeature is just bizzare"
Should be renamed:

[code]

[2014-06-10 21:50] davidfowl opened #71 "Changes to IHttpWebSocketFeature"
[code]

[code]

Sample code for consuming it on the HttpContext:

[code]

[2014-06-12 17:32] yishaigalatzer opened #72 "Encoders for HTML, URL, and JavaScript"
System.Web.HttpUtility has methods for encoding values for inclusion in HTML attributes JavaScript string literals, etc. We need these again in the this world.

from @DamianEdwards aspnet/mvc#420

[2014-06-16 23:09] kevinchalet opened #74 "Make owin.RequestQueryString specs-compliant"
While the OWIN 1.0 specs state that **owin.RequestQueryString** reflects "the query string component of the HTTP request URI, **without the leading ?** (e.g., foo=bar&baz=quux)", the new ASP.NET vNext _OWIN support_ (probably in **OwinEnvironment**) doesn't correctly remove the question mark. Please consider making it specs-compliant.

http://owin.org/spec/owin-1.0.0.html#_3.2._Environment

[2014-06-20 19:56] Tratcher opened #80 "Async APIs should take a CancellationToken"
There are several async APIs in the feature interfaces or on HttpContext that developers may want granular timeout/cancellation support for.  Especially anything that can trigger network IO.

[code]

[2014-06-23 22:27] #74 closed, assigned to Tratcher

[2014-06-23 22:50] #64 closed, assigned to nobody

[2014-06-23 23:09] #50 closed, assigned to nobody

[2014-06-24 17:08] #71 closed, assigned to Tratcher

[2014-06-25 16:13] Tratcher opened #84 "Form parsing memory consumption"
GetFormAsync buffers, reads to a string, and then parses into components. Consider:
1. Spool to disk option for large bodies or
2. Parsing the content as you go, no buffering required.

[2014-06-28 08:13] borgdylan opened #87 "OWIN: IHttpAuthenticationFeature.Handler is not implemented"
This makes requests fail if using the cookie security middle-ware.This is the stack trace I get:

[code]

[2014-06-29 05:15] davidfowl opened #88 "Rename IHttpOpaqueUpgradeFeature to IHttpUpgradeFeature"

[2014-06-29 05:18] davidfowl opened #89 "Rename OnRequestAborted to RequestAborted"
We haven't been putting On\* on any of the other cancellation tokens. So let's remove it here.

[2014-06-30 22:07] davidfowl opened #91 "Make DefaultHttpContext more testable"
Today you have to pass in a feature collection. There should be a default ctor that allows getting and setting all of the properties.

[2014-07-01 12:36] tugberkugurlu opened #92 "IHeaderDictionary.GetCommaSeparatedValues returns IList<string> instead of a read-only collection"
`IHeaderDictionary.GetCommaSeparatedValues` returns `IList<string>` instead of `IEnumberable<string>`, `IReadableStringCollection` or any other read-only collection. Is there any particular reason for this?

[2014-07-01 16:27] Tratcher opened #93 "Map IAuthenticationHandler in OWIN"
This is needed to interop with OWIN security middleware.

[2014-07-03 21:16] #88 closed, assigned to Tratcher

[2014-07-03 21:16] #69 closed, assigned to Tratcher

[2014-07-03 21:16] #89 closed, assigned to Tratcher

[2014-07-03 21:16] #87 closed, assigned to Tratcher

[2014-07-06 01:32] davidfowl opened #96 "Support the current owin web socket extension spec"
We should add support for the current web socket extension spec since web servers like nowin support it. We can always change when owin committee gets around to redesigning it but it would be great if nowin started working with web sockets.

I'm not sure if it should go into another package like Microsoft.AspNet.Owin.WebSockets or the main package since it's an extension to the spec.

@lodejard an

[2014-07-07 06:21] davidfowl opened #97 "Need the equivalent of HttpContext.IsDebuggingEnabled"
http://msdn.microsoft.com/en-us/library/system.web.httpcontext.isdebuggingenabled(v=vs.110).aspx

We used to have this in katana with the "host.AppMode" key in the environment dictionary. The default implementation in PipelineCore might map to the environment name "development" in https://github.com/aspnet/Hosting/blob/63f643e0c1d9be3485300a297a74b13c8ed8299e/src/Microsoft.AspNet.Hosting/HostingCo

[2014-07-08 01:16] DamianEdwards opened #99 "IHttpBufferingFeature.DisableRequestBuffering is named incorrectly"
This method currently actually disables dynamic compression on the response when on IIS. It has nothing to do with buffering the request. In fact, if you're desire is to stop buffering of outgoing streaming responses, you *need* to call this API when on IIS.

It should probably be called `DisableResponseCompression` (because that's what it actually does and is intended to do) but that might look o

[2014-07-11 19:19] Tratcher opened #102 "IHttpRequestFeature should define IsSecure instead of Scheme"
IHttpRequestFeature defines the raw request information that the client sent on the wire, e.g. method, path, headers, etc.. However Scheme is not something the client sends, it's implied from transport layer via IsSecure.  There are also only two recognized options, HTTP and HTTPS (unless you count WS and WSS for WebSockets, but the client doesn't send them either).

HttpRequest defines IsSecure,

[2014-07-14 23:40] victorhurdugaci opened #103 "Request.Headers.Keys is ambigous"
The following line in a controller:

[code]

Produces:

[code]

[2014-07-16 19:14] #103 closed, assigned to Tratcher

[2014-07-19 16:15] Eilon opened #107 "API inconsistency/usability issues compared to System.Web"
We were working with a customer to port an app from MVC 5 to MVC 6 and ran into some HTTP abstraction inconsistency/usability issues in a number of areas, including:
- Reading/writing cookies. The `IReadableStringCollection` interface is not very cookie friendly as it's just strings. The `IResponseCookies` interface is rather limited for adding cookies - it can only append and delete, it can't rea

[2014-07-28 04:13] ChMar opened #109 "F# interop would benefit if delegates are replaced with Func<_, ..>"
Right now the F# code needs to create delegates which can be replaced by Func constructs.

[2014-07-29 00:31] pranavkm opened #110 "HttpRequest should have a RawUrl property"

[2014-08-06 21:18] Tratcher opened #111 "Challenge, SignIn arguments should have params"
Katana:

[code]

K:

[code]

Rumor has it the new run-time will support `IEnumerable<T>` params so we don't have to use arrays.

Note we'll have to change our parameter order for this, so we should do that soon with or without the `IEnumerable<T>` feature.

[2014-08-06 22:52] #65 closed, assigned to Tratcher

[2014-08-14 20:24] harshgMSFT opened #114 "DefaultHttpResponseFeature sets the status code to 200 by default."
Is this intentional?

[2014-08-17 00:05] #91 closed, assigned to Tratcher

[2014-08-17 00:05] #80 closed, assigned to Tratcher

[2014-08-17 00:05] #70 closed, assigned to Tratcher

[2014-08-17 00:05] #66 closed, assigned to Tratcher

[2014-08-17 00:05] #3 closed, assigned to Tratcher

[2014-08-18 19:19] #114 closed, assigned to nobody

[2014-08-18 23:09] harshgMSFT opened #115 "Enable key based lookup for response cookies on HttpResponse."
https://github.com/aspnet/Mvc/issues/959#issuecomment-52539375

[2014-08-19 21:42] lodejard opened #116 "Add IBuilder.Properties as dict string,object"
The other IBuilder properties would be changed to be accessors to well-known keys

[2014-08-20 23:23] Tratcher opened #117 "Support owin.RequestId"
https://github.com/owin/owin/issues/8
https://katanaproject.codeplex.com/workitem/297

[2014-08-25 18:07] harshgMSFT opened #118 "Remove temp HttpAbstractions for conneg from MVC."
https://github.com/aspnet/Mvc/issues/838

[2014-08-26 19:32] Tratcher opened #119 "Review and update form parsing logic"
src/Microsoft.AspNet.WebUtilities/ParsingHelpers.cs has at least one place where it calls char.IsWhiteSpace, but this allows many strange Unicode characters. Review this parsing code and update it to be more accurate.

[2014-09-05 18:59] #111 closed, assigned to Tratcher

[2014-09-05 18:59] #116 closed, assigned to Tratcher

[2014-09-08 01:54] Eilon opened #120 "Rename QueryBuilder to QueryStringBuilder"
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.WebUtilities/QueryBuilder.cs

Every time I see `QueryBuilder` I have to guess as to what kind of query it's building.

[2014-09-08 18:10] Praburaj opened #121 "Make the query string parsing API public"
I'm looking for implementing some server side mocks on the social backchannel handlers. This needs parsing of query strings. Can we expose the query string parsing helpers public.

//CC: @Tratcher

[2014-09-09 04:59] Eilon opened #122 "Rename IBuilder to IApplicationBuilder"
From the template discussion, rename `IBuilder` to `IApplicationBuilder`. The old name was too general-sounding (it is not a general interface for building _anything_), so we found what we thought was a more fitting name.

https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http/IBuilder.cs

[2014-09-12 02:17] glennc opened #124 "Review: Design query, path, and form primitive types"

[2014-09-12 02:17] #120 closed, assigned to nobody

[2014-09-12 03:03] #115 closed, assigned to nobody

[2014-09-12 03:06] #109 closed, assigned to nobody

[2014-09-12 23:01] javiercn opened #126 "Provide a type for making easy to build urls from the parts."
Currently it's up to a user to build a url based on the different parts (HostString, PathString, QueryString). Which make it possible to produce invalid URLs by mistake. (For example, htt://localhost?foo=bar). Provide a component that takes scheme, host, pathbase, path, querystring and fragment and builds a correct url out of the parts.

[2014-09-15 18:55] kbdavis07 opened #127 "HTML5 Local Storage Access from HttpRequest like Cookies"
Hi,

So far I had looked every where and I do not see that currently there is support to access HTML5 Local Storage from HttpRequest like you can with cookies.
1. Is there already support for this and I just could not find it?
2. Is this planed for the future and if so when?
3. Why is this not included already?

I am thinking since cookies are eventually are going to go away why isn't there a meth

[2014-09-15 23:25] #127 closed, assigned to nobody

[2014-09-19 23:08] BrennanConroy opened #129 "CoreCLR not behaving the same as Desktop with % in form parsing"
@Praburaj @Tratcher @GrabYourPitchforks

Below is a small reproducible Program.cs and .json
Exception thrown only on CoreCLR in WebListener and IIS

program.cs:

[code]

project.json:

[code]

Exception Details:
System.UriFormatException was unhandled by user code
  HResult=-2146233033
  Message=Invalid URI: There is an invalid sequence in the string.
  Source=System
  StackTrace:
       at System

[2014-10-02 19:20] Tratcher opened #130 "Remove support for semicolons in query parsing"
https://github.com/aspnet/HttpAbstractions/pull/128/files#r17709054

Right now the query parsing supports both semicolon and ampersand separators. Remove the semicolon support, it's based on a very outdated spec.

[2014-10-09 03:18] rynowak opened #132 "Should FeatureCollection dispose features"
I'm implementing an http feature, stored in the context, which owns something disposable, and signs seem to point towards the following design.
- `MyCoolFeature` implements `IDisposable` to clean up the resources it owns
- `HttpContext` has a `FeatureCollection` which holds on to `MyCoolFeature`
- `HttpContext` gets disposed and then disposes the `FeatureCollection`
- `FeatureCollection` then disp

[2014-10-09 22:54] rynowak opened #133 "Should ReasonPhrase be on HttpResponse?"
Porting some webapi code I had to dive down the feature level to set reason phrase.

[code]

Omitted from `HttpResponse` on purpose?

[2014-10-10 17:58] kevinchalet opened #134 "Provide a HeadersWritten marker on HttpResponse"
ASP.NET 4.5 on .NET 4.5.2 exposes a `HeadersWritten` property on `HttpResponse`: http://msdn.microsoft.com/fr-fr/library/system.web.httpresponse.headerswritten(v=vs.110).aspx

That would be nice to have a similar thing in vNext.

Related topic: https://github.com/aspnet/Diagnostics/pull/39

[2014-10-14 23:21] #55 closed, assigned to GrabYourPitchforks

[2014-10-15 23:49] danroth27 opened #139 "MIME multipart support"
We should provide parsing support for dealing with MIME multipart messages. This would be useful for things like file uploads and batching.

[2014-10-20 16:29] #122 closed, assigned to Tratcher

[2014-10-20 16:30] #121 closed, assigned to Tratcher

[2014-10-20 16:30] #130 closed, assigned to Tratcher

[2014-10-20 18:38] #96 closed, assigned to Tratcher

[2014-10-21 09:38] desdesdes opened #140 "Let HttpRequest.Accept return a IList<string> instead of string"
I am rewriting some of our middle ware. I would like to parse the accept header to check if i need to return xml or json. Currently this returns a string. So I need to parse that sting but the ParsingHelpers.ParseDelimited function is internal. The other way is to use the headers collection, but then I wonder what the Accept property is for.

I would like to have the ParsingHelpers.ParseDelimited

[2014-10-21 20:48] #45 closed, assigned to Tratcher

[2014-10-28 22:40] #133 closed, assigned to nobody

[2014-10-28 23:02] #126 closed, assigned to nobody

[2014-10-28 23:28] #140 closed, assigned to nobody

[2014-10-28 23:34] #132 closed, assigned to nobody

[2014-10-28 23:43] #110 closed, assigned to nobody

[2014-10-28 23:45] #107 closed, assigned to nobody

[2014-10-29 00:01] #93 closed, assigned to nobody

[2014-11-02 07:23] avanderhoorn opened #144 "Logging around middleware pipeline"
As per the discussion for @lodejard, we would like to add logging around when middleware is registered and when the pipeline is executed. The intent is to be able to present a list of the middleware that is registered and then show the what middleware was executed to serve a given request.

[2014-11-03 18:32] #102 closed, assigned to Tratcher

[2014-11-05 17:54] #28 closed, assigned to Tratcher

[2014-11-06 20:14] #134 closed, assigned to Tratcher

[2014-11-06 23:48] Tratcher opened #147 "OWIN Null Ref on owin.CallCancelled on Kestrel"
Running OWIN middleware on Kestrel and accessing owin.CallCancelled will null ref because Kestrel doesn't implement the request cancellation feature interface.  This interface is optional, so make sure it doesn't null ref.

@christianweyer

[2014-11-08 00:34] avanderhoorn opened #149 "Supported way of getting RemoteIpAddress"
In OWIN, `RemoteIpAddress` via the `HttpRequest`. In vNext world, I can see that `IHttpConnectionFeature` has the IpAddress, and I can see that `DefaultHttpRequest` has the `HttpConnectionFeature` has a private property, but that property is never used and `IHttpRequest` doesn't have a `RemoteIpAddress` property.

[2014-11-09 15:29] tugberkugurlu opened #150 "renaming Microsoft.AspNet.HttpFeature to Microsoft.AspNet.HttpFeature.Interfaces"
I assume that **Microsoft.AspNet.HttpFeature** library only holds `AssemblyNeutral` interfaces. In order to align with other similar libraries (like **Microsoft.Framework.Logging.Interfaces**, **Microsoft.Framework.Runtime.Interfaces**, etc.), I think it would be better to rename this to **Microsoft.AspNet.HttpFeature.Interfaces** or something similar.

[2014-11-12 01:18] #56 closed, assigned to nobody

[2014-11-14 20:40] Tratcher opened #151 "HttpRequest.GetFormAsync should return IFormCollection, not IReadableStringCollection"
It's an IFormCollection everywhere except the surface API. Or just get rid of IFormCollection? It doesn't do anything.

[2014-11-14 20:48] Tratcher opened #152 "SignOutContext needs AuthenticationProperties"
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.PipelineCore/Security/SignOutContext.cs
Compare:
http://katanaproject.codeplex.com/SourceControl/latest#src/Microsoft.Owin/Security/AuthenticationResponseRevoke.cs

This was a late addition to Katana. WsFed & OIDC have need for sign-out properties in order to customize single-signout redirects.

Also update HttpResponse.SignO

[2014-11-17 19:43] #147 closed, assigned to Tratcher

[2014-12-02 22:53] yishaigalatzer opened #153 "Logging: Tracking state changes for http context"
Moved from aspnet/MVC#1630.

The general design idea is to add logging to HttpContext when certain things happen.
### When the following things change log in verbose
#### HttpContext

Authenticate
Abort
Dispose
SetFeature
AcceptWebSocket ?
#### HttpResponse

Status code changed
Header replaced (which is also added)
OnSendingHeaders firing - Should probably be in the server.
OnSendingHeaders regist

[2014-12-08 21:33] damianh opened #154 "RequestCookiesCollection doesn't support multi-value cookies"
Given the following cookie header: `Cookie: a=1; a=2` then calling [`RequestCookiesCollection.GetValues("a")`]( https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.PipelineCore/Collections/RequestCookiesCollection.cs#L70) I would expect the returned collection to contain `{"1", "2"}`.

If `RequestCookiesCollection` implements `IReadableStringCollection`, which implements `IEnu

[2014-12-12 14:11] fengari opened #155 "HttpAbstractions - QueryString - the leading "?" does not conform to OWIN spec"
http://owin.org/
Both 1.0.0 and the 1.1.0 draft say the owin.RequestQueryString must NOT include the leading "?" and the value may be an empty string.

This one:
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http/QueryString.cs

throws in the constructor if the leading "?" is not there.

Which way do we go?

[2014-12-12 17:34] Eilon opened #156 "Need to document which OWIN keys are supported in the translation layer"
Something like this table:

http://katanaproject.codeplex.com/wikipage?title=OWIN%20Keys&referringTitle=Documentation

@Tratcher FYI from our discussion.

[2014-12-30 23:38] IvandroFabiaeFilhos opened #158 "Why .Kproj file was commited in GitHub?"
The .kproj file is necessary only to Visual Studio. OK?
When the project is opened in visual studio this file type is created automatically. Correct?
What justify to commit the .kproj file in control version?

[2015-01-02 18:21] epignosisx opened #159 "ISession ArraySegment API question"
Hi. I was going over the ISession API and I was surprised about the usage of ArraySegment<byte> instead of just using Object. I'm curious to know why this API changed so much from the vCurrent API. Is there any design notes or other documentation about it?

I find the current implementation too raw for most use cases. Is the team planning to create some extension methods to make it easier to set a

[2015-01-02 18:39] Tratcher commented on #159
The primary reason is that session is something that needs to be shared between multiple server instances. This requires that all the data be serialized and synced back and forth. We used to try to serialize 'object' automatically but that was precarious at the best of times. We've moved to an explicit serialization model instead.

There are already a variety of serialization extensions here: http

[2015-01-02 20:11] epignosisx commented on #159
Thanks @Tratcher. I see your point, but most ASP.NET apps that I've worked on store complex object graphs in Session. We probably shouldn't do it, but that's the reality of most codebases I've seen.

Using the explicit serialization model a la SerializationInfo is painful for complex object graphs, maybe the team wants app devs to feel this pain and think harder if what they are doing is the right

[2015-01-02 21:13] Tratcher commented on #159
Yes, this is one place where developers should feel the pain of decisions that would otherwise negatively impact their application. Note I'm not endorsing SerializationInfo either, that's also quite painful. We'll continue to work with the community to develop the functionality and guidelines here.

Correct, ISessionCollection is the primary developer API.

[2015-01-02 21:41] epignosisx commented on #159
Cool thanks!

[2015-01-02 21:41] #159 closed

[2015-01-07 16:37] borgdylan commented on #12
What is the progress of giving access to the remote IP address? As things are one cannot implement anything that needs this information like passing client IP restrictions to payment gateways.

[2015-01-07 16:57] Tratcher commented on #12
It's already accessible as shown here:
http://www.tugberkugurlu.com/archive/getting-the-clients-ip-address-in-asp-net-vnext-web-applications
This should unblock any implementation scenarios. This work item is just about making such data more convenient.

[2015-01-07 23:53] Tratcher commented on #151
Fixed as part of https://github.com/aspnet/HttpAbstractions/issues/139

[2015-01-07 23:53] Tratcher commented on #84
Fixed as part of https://github.com/aspnet/HttpAbstractions/issues/139

[2015-01-08 16:49] #139 closed

[2015-01-08 16:49] #84 closed

[2015-01-08 16:49] #151 closed

[2015-01-08 16:50] #158 closed

[2015-01-08 16:51] davidfowl commented on #67
@GrabYourPitchforks These are available now right?

[2015-01-08 17:01] rosieks commented on #139
Does that mean that asp.net 5 rc1 will contain batch support?

[2015-01-08 17:14] Tratcher commented on #139
No. Open a new issue here https://github.com/aspnet/home/issues to discuss support for batch.

[2015-01-09 17:44] Tratcher opened #160 "Add a notification for when the request is completed"
Some resources need to be cleaned up at the end of a request. Middleware can do this as the request pipeline unwinds. Non-middleware components do not have a clear indication of when they should clean up their resources and must currently rely on the GC.

Example:
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.PipelineCore/BufferingHelper.cs#L40
When the request body is b

[2015-01-10 00:05] Tratcher opened #162 "Rename Microsoft.AspNet.PipelineCore"

[2015-01-10 00:29] Tratcher opened #163 "Remove WebUtilities dependency on Http"
Microsoft.AspNet.WebUtilities currently depends on Microsoft.AspNet.Http for the following classes:
QueryBuilder - Has a ToQueryString() method returning QueryString
UriHelper - Uses HostString, PathString, QueryString, FragmentString, HttpRequest, etc..

This library is only supposed to contain stand-alone parsers and utility methods. Consider moving the dependent classes to Microsoft.AspNet.Http

[2015-01-10 15:22] darrelmiller commented on #155
[RFC 3986](https://tools.ietf.org/html/rfc3986#section-3) doesn't consider the question mark to be part of the query string.  Is it included for consistency with previous versions of ASP.NET?

[2015-01-12 21:59] Tratcher commented on #155
It's primarily for convenience. This value us often used to generate new Uris via a simple concatenation with PathString:
`pathBase + path + query`, so having the `?` built in prevents you from having to do this:
`pathBase + path + (query.HasValue : "?" + query.Value : "")`

[2015-01-13 08:45] davidfowl commented on #163
Feels like we should do this sooner rather than later. Would we keep those types in the Microsoft.AspNet.Http namespace? Feels weird to have those types on the default abstractions in another namespace.

[2015-01-13 15:42] Tratcher commented on #163
I fixed this by moving QueryBuilder and UriHelper as part of my typed headers work. PR incoming.

[2015-01-15 00:13] #163 closed

[2015-01-15 00:13] #19 closed

[2015-01-15 00:14] #68 closed

[2015-01-15 00:14] #118 closed

[2015-01-15 06:27] davidfowl commented on #162
Yes, please. Can we do this before in beta3? /cc @Eilon @Tratcher @muratg ?

[2015-01-15 06:33] davidfowl opened #165 "Fix the style of Microsoft.Net.Http.Headers to match the coding guidelines"

[2015-01-15 07:00] Tratcher commented on #165
Anything specific? I thought I covered the major points.

[2015-01-15 07:07] davidfowl commented on #165
Needs more var. That's just a glimpses from the code I was reading.

[2015-01-15 17:06] Tratcher opened #167 "Integrate cookie APIs with new strongly typed header values"
The RequestCookiesFeature internal parser can be replaced with the CookieHeaderValue parser.

Similarly the ResponseCookies class could be greatly simplified by delegating to the SetCookieHeaderValue class as a serializer.

[2015-01-15 17:28] Eilon commented on #162
Fine with me. What's the new name?

[2015-01-15 17:28] Eilon commented on #162
We should get as many renames as possible done for beta3.

[2015-01-15 17:31] Tratcher commented on #162
Ms.AspNet....
Http.Impl
Http.Core

[2015-01-15 17:34] Eilon commented on #162
`Microsoft.AspNet.Http.Core` doesn't seem terrible to me. That's kind of what's in there... the core types. Or `...Intrinsics`, but I hate that word.

[2015-01-15 17:39] Tratcher commented on #162
That's the funny thing, Http contains the abstract intrinsics, PipelineCore contains the actual implementation of said intrinsics.

While we're at it are there alternatives to calling all of the implementation types Default*?

[2015-01-15 17:44] Tratcher commented on #10
Half solved with the new strongly typed headers:
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Extensions/RequestHeaders.cs#L55
You just need to provide the mapping to an actual culture.

[2015-01-15 17:46] Tratcher commented on #92
The result is a copy, not a view into the original collection, so you are free to manipulate it.

[2015-01-15 18:01] Eilon commented on #162
Instead of `Default*` just call them `*`..?

[2015-01-15 18:07] Tratcher commented on #162
E.g. DefaultHttpContext implements the abstract HttpContext.

[2015-01-15 18:11] Eilon commented on #162
O I C. I guess in this case the `Default*` is kind of fine because no one aside from us ever sees those types. Everyone programs against the friendly-named types, which is most of what we care about...

[2015-01-15 18:17] Tratcher commented on #162
DefaultHttpContext is often used in unit tests, but again, mostly in our own tests and less in other people's.

[2015-01-15 18:23] davidfowl commented on #162
We shouldn't call it something obscure though.

[2015-01-15 18:32] suhasj opened #168 "Pipeline looks for temp folder env variable which is not present on *nix machines"
The BufferingHelper tries to get the path to the temporary folder by reading the environmental variables 'ASPNET_TEMP' and 'TEMP'. [Code](https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.PipelineCore/BufferingHelper.cs#L28)
The issue is *nix machines don't have the mandatory 'TEMP' variable set by default.

@Tratcher @Praburaj discussed that Path.GetTempPath was not advised

[2015-01-15 18:48] Eilon commented on #162
Default isn't very obscure so I think it's fine...

Now, back to the assembly/project name... Http.Core?

[2015-01-15 18:49] Tratcher opened #169 "Strongly typed Request/ResponseHeader properties should return readonly collections"
Users may write the following code:
`httpRequest.GetTypedHeaders().SetCookie.Add(myCookie);`

However, this will fail silently because SetCookie.get returns a collection of parsed values that is disconnected from the underlying response headers collection.

The correct code is:
`httpRequest.Headers.Append(HeaderNames.SetCookie, myCookie);`
or
`httpRequest.GetTypedHeaders().SetCookie = myCookies;`

[2015-01-15 20:19] rynowak commented on #165
sounds like you guys need stylecop :trollface:

[2015-01-16 17:30] #162 closed

[2015-01-16 21:17] MisinformedDNA commented on #155
We should move away from that kind of logic. There's a reason we have `Path` class and UriBuilder.
[code]
Or if that is too verbose, something new like

    UrlPath.AddPath(pathBase).AddQuery(query)

Anything is better than string concatenation.

Even, adding a secondary property `PrefixedQueryString` or something would be better.

Sticking to specs is preferable so we can keep things consistent.

[2015-01-16 21:24] MisinformedDNA commented on #155
Or using [this code](https://github.com/aspnet/HttpAbstractions/blob/7be9cefc4c7671caba7d8fe538ba6a0ad308fdad/src/Microsoft.AspNet.Owin/Utilities.cs#L23-L30)
[code]

[2015-01-17 08:44] davidfowl opened #173 "Microsoft.AspNet.FeatureModel should have a build time dependency on Microsoft.Framework.Runtime.Interfaces"
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.FeatureModel/project.json#L5

[2015-01-19 05:39] davidfowl commented on #150
Done

[2015-01-19 05:39] #150 closed

[2015-01-19 09:42] davidfowl commented on #168
Mono's implementation of Path.GetTempPath() - https://github.com/mono/mono/blob/master/mcs/class/corlib/System.IO/Path.cs#L468

[2015-01-19 09:43] #173 closed

[2015-01-19 19:40] Tratcher opened #174 "Define common status code constants"
Enum was always a poor type for Http status codes (e.g. System.Net.HttpStatusCode). Static/const ints may be more appropriate. We recently added the following for common header names: https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.Net.Http.Headers/HeaderNames.cs. Something similar for status codes would be reasonable.

[2015-01-19 20:48] yishaigalatzer opened #175 "File upload with non-English chars doesn't work"
Tried on both IE and Chrome and they encode the Disposition header (in the multi part body) in UTF-8, out multi-part parser assumes ASCII and hence these files names are mangled.

Original issue - aspnet/Mvc#1840

[2015-01-19 20:54] Tratcher commented on #175
The utf-8 decoding needs to happen here:
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.WebUtilities/BufferedReadStream.cs#L357

[2015-01-19 22:12] Tratcher commented on #175
https://code.google.com/p/dart/issues/detail?id=14303
Chrome Version 41.0.2272.3 dev-m (64-bit)
With `<meta charset="UTF-8" />`:
 - Chrome: as utf-8
 - IE: as utf-8

Without `<meta charset="UTF-8" />`:
 - Chrome: multi-bytes replaced with `?`
 - IE: as utf-8

[2015-01-21 17:25] Tratcher opened #176 "Add a copy constructor to MediaTypeHeaderValue"
Scenario:
MVC uses some lists of MTHVs to determine what formats are supported. They select one from the list and use it to configure the response. Sometimes this involves modifying the value (e.g. adding charset), however this affects the value in the list and may impact matching and output for subsequent requests.

To prevent modifications they need to make a copy of the MTHV. Right now they are

[2015-01-21 17:54] Tratcher opened #177 "Figure out how to make immutable header value objects"
Related: https://github.com/aspnet/HttpAbstractions/issues/176

Scenario:
MVC uses some lists of MediaTypeHeaderValues to determine what formats are supported. They select one from the list and use it to configure the response. Sometimes this involves modifying the value (e.g. adding charset), however this affects the value in the list and may impact matching and output for subsequent requests. Th

[2015-01-21 22:44] muratg commented on #10
@pranavkm Do you guys still need this?  Or is this a "nice to have"?

[2015-01-21 22:54] muratg commented on #92
Like @Tratcher mentions, you might want to manipulate the copy (which is a lightly parsed version). So closing.

[2015-01-21 22:54] #92 closed

[2015-01-21 22:57] muratg commented on #97
Will https://github.com/aspnet/Hosting/issues/100 solve this?

[2015-01-21 22:58] muratg commented on #99
What's the decision on this one?

/cc: @glennc

[2015-01-21 23:01] Tratcher commented on #117
1. http.sys already has something we can use.
2. We need to find a feature interface to put this on internally.
3. this will be useful in logging.

[2015-01-21 23:06] Tratcher commented on #129
Should be handled by https://github.com/aspnet/HttpAbstractions/issues/72

[2015-01-21 23:20] #154 closed

[2015-01-21 23:23] #155 closed

[2015-01-21 23:24] Tratcher commented on #156
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Owin/OwinEnvironment.cs#L50

[2015-01-22 08:07] Eilon commented on #10
We should look at what ASP.NET 4.x had and see if we want to do something similar. It's not that MVC would necessarily need this, but rather more likely it'd be in app code.

[2015-01-22 17:45] #175 closed

[2015-01-23 23:31] blowdart opened #179 "IsSecure is badly named"
Request.IsSecure returns true if the scheme is HTTPS.

HTTS is not a guarantee of security, but merely that the request cannot be eavesdropped (and even then, given null ciphers, this is not actually true)

The the property name is disingenuous and should be removed, or changed to IsHttpsConnection.

[2015-01-23 23:38] bitcrazed commented on #179
I agree. The statement IsSecure has a whole lot of connotations [some of which may not be true](http://www.zdnet.com/article/gogo-in-flight-wi-fi-serving-spoofed-ssl-certificates/), even when HTTPS is used.

[2015-01-28 17:04] stephenjwatkins commented on #12
While running in IIS 8, the IP address returned from Tugberk's implementation is incorrect. If we enable IIS 8 to log the requests, we can see the correct client IP address being written to the IIS logs. However, when we log the IP address in our application code (as returned from the implementation above), it is a different IP address.

We also ran an ASP.NET 4.5 application on the same IIS serve

[2015-01-28 17:47] Tratcher commented on #12
Lets see, on IIS7 UserHostAddress maps to the server variable REMOTE_ADDR. @GrabYourPitchforks any idea why this would be different from the address provided by Http.Sys?

[2015-01-28 17:51] Tratcher commented on #12
Ah, @stephenjwatkins are you running behind a reverse proxy? http://stackoverflow.com/questions/19399808/does-iis-with-arr-support-fully-transparent-reverse-proxy

[2015-01-28 20:17] stephenjwatkins commented on #12
@Tratcher It's not behind a reverse proxy.

[2015-01-28 21:59] #174 closed

[2015-01-28 22:05] Tratcher commented on #12
@stephenjwatkins Please open a new issue for your specific problem. It will get lost if it stays in this one.

[2015-01-29 17:13] stephenjwatkins opened #181 "Incorrect remote IP address in IIS 8"
When retrieving a client's IP address in a .NET 5 application running on IIS 8, an incorrect IP address is returned. We're using Tugberk's implementation, which seems to be the generally accepted method.

Code to retrieve IP address:

    string clientIpAddress;
    var connection = context.HttpContext.GetFeature<IHttpConnectionFeature>();
    if (connection != null) {
        clientIpAddress = co

[2015-01-29 17:19] stephenjwatkins commented on #12
@Tratcher Thanks, opened new issue #181.

[2015-01-29 17:54] GrabYourPitchforks commented on #181
@stephenjwatkins is the IP address reversed (should read a.b.c.d but returns d.c.b.a), or is it just completely mangled to the point where it doesn't come close to resembling the correct value?

[2015-01-29 20:26] stephenjwatkins commented on #181
@GrabYourPitchforks Actually, yes, they are coming in reversed. I'm surprised I didn't catch that before. But yes, a.b.c.d is coming in as d.c.b.a.

[2015-01-29 22:35] GrabYourPitchforks commented on #181
Probably an endianness issue then - we'll look into it. Thanks for the report!

[2015-01-30 17:42] rynowak opened #182 "Move StatusCodes to a more visible namespace"
Right now it's in `Microsoft.AspNet.WebUtilities` namespace. Suggest moving it to `Microsoft.AspNet.Http` so that it's more easily discoverable.

Example: https://github.com/aspnet/Mvc/pull/1924/files

We're using this in plenty of places in MVC but it's pretty much the only from that namespace we're interested in.

[2015-01-31 00:24] #181 closed

[2015-01-31 00:25] GrabYourPitchforks commented on #181
Fixed.

[2015-02-02 03:29] ianhong opened #183 "More unit-testable DefaultHttpRequest.Cookies??"
Can we make DefaultHttpRequest.Cookies more unit-testable just like the Form property?

        public override IFormCollection Form
        {
            get { return FormFeature.ReadForm(); }
            set { FormFeature.Form = value; }
        }

Thanks

[2015-02-04 01:54] vncastanheira opened #186 "FormCollection does not seem to work"
Trying to use `FormCollection` on Post actions throws a `KeyNotFoundException`.
I made a [sample](https://onedrive.live.com/redir?resid=4893074DE3888A1B!67191&authkey=!ABhL2NrpCjG2B18&ithint=file%2czip) showing the error.

[2015-02-04 05:55] davidfowl commented on #186
@vncastanheira could you push the sample to a github repository? That's more convenient than downloading the zip.

[2015-02-04 10:41] vncastanheira commented on #186
There it is, the [repository](https://github.com/vncastanheira/FormCollection-Sample).

[2015-02-04 15:43] Tratcher commented on #186
@ajaybhargavb

[2015-02-05 21:41] PinpointTownes commented on #186
Taking `FormCollection` as a parameter is not supported (yet) by MVC 6: https://github.com/aspnet/Mvc/issues/979 :dancers:
That said, it would be really trivial to add your own binder for `FormCollection`.

[2015-02-06 10:28] vncastanheira commented on #186
Sure!

[2015-02-08 01:57] shawnwildermuth commented on #174
Doesn't matter to me whether it is Enum or static/const, just don't want dev's having to use specific numbers (especial sub-numbers like 403.1)

[2015-02-08 03:36] GrabYourPitchforks commented on #72
PR is out for the HtmlEncode implementation:
https://github.com/aspnet/HttpAbstractions/pull/187

Working on porting UrlEncode, UrlDecode, and HtmlDecode. It'll take a few more days to get those in.

[2015-02-08 07:00] #186 closed

[2015-02-08 07:13] davidfowl opened #188 "Contract for defining middleware class is too loose? (discussion)"
Coming from Katana, we decided to move away from the middleware base class for various reasons. The biggest problem with having a base class now is the inability to inject services on the middleware. Today this is the minimum needed to write a middleware class:

[code]

A few notes:
- Dependency Injection is supported (request services an app services)
- Invoke is a weird name but it was chosen be

[2015-02-10 00:26] GrabYourPitchforks commented on #72
PR https://github.com/aspnet/HttpAbstractions/pull/187 now includes UrlEncode and JavaScriptStringEncode.

[2015-02-10 00:26] GrabYourPitchforks commented on #72
PR https://github.com/aspnet/HttpAbstractions/pull/187 now includes UrlEncode and JavaScriptStringEncode.

[2015-02-11 17:59] danroth27 opened #190 "Rename Http.Core/Http packages"
Currently Microsoft.AspNet.Http.Core depends on Microsoft.AspNet.Http, which seems backwards.

[2015-02-11 18:20] Tratcher commented on #190
Http contains the abstract HttpContext that most apps will reference directly, where Http.Core contains an actual implementation primarily referenced by Hosting. The naming of Http.Core could be better, but I think swapping it with Http would be detrimental to HttpContext.

[2015-02-11 18:35] danroth27 commented on #190
OK - I think we just need to come up with a better name for Http.Core. How about Http.Abstractions?

[2015-02-11 18:38] danroth27 commented on #190
How about Http -> Http.Abstractions?

[2015-02-11 19:48] GrabYourPitchforks commented on #72
Committed as https://github.com/aspnet/HttpAbstractions/commit/1008e1725954dd59a157722434c9f823f6160272.

[2015-02-11 19:48] #72 closed

[2015-02-11 22:07] Tratcher commented on #190
I don't recommend it. Just about everything in the pipeline references HttpContext, so it should stay in the top level Http namespace and package for ease of discovery and usage.

[2015-02-11 23:50] danroth27 commented on #190
We can argue about the new names, (I'm fine with just renaming Http.Core to something else), but the current names have to change somehow. Everywhere else that I know of in Core is the thing that other stuff depends on, not the other way around. Think .NET Core vs .NET Framework.

[2015-02-11 23:57] davidfowl commented on #190
Http.Impl yay java

[2015-02-12 23:35] GrabYourPitchforks commented on #129
The new encoders won't address this since it's a decoding issue instead of an encoding issue. However, a proper fix for System.Uri is slowly winding its way through the branches, and we should see it bubble up to our layer soon.

[2015-02-13 23:32] Praburaj commented on #117
The closest one that I can find where we can add to the existing interface is `IHttpConnectionFeature`. or we can add an interface `IHttpRequestIdentifierFeature`.

[2015-02-17 01:18] GrabYourPitchforks opened #193 "Consider moving the Encoders to their own package"
Right now the core interfaces and implementations are in WebUtilities. However, since this package has no external dependencies, we can't add the DI-friendly `AddEncoders()` extension method here. Currently this extension method lives in Microsoft.AspNet.Http.Extensions.

We should consider whether the encoders need to be moved to their own package for better separation of concerns.

[2015-02-17 18:54] #179 closed

[2015-02-17 19:22] GrabYourPitchforks commented on #179
Related commits:
https://github.com/aspnet/Security/commit/a15cb4ffe559d2c7bb2f0e748e4a10446bd530a6
https://github.com/aspnet/Mvc/commit/cf36a601c61d5aa3b21d3f784b7198b5b4bdfa37

[2015-02-17 20:36] bitcrazed commented on #179
Nice! Thanks for taking our concerns into consideration.

[2015-02-17 23:49] ajaybhargavb opened #195 "Need support for registering and disposing IDisposable types"
Webapi had `RegisterForDispose()` as a `HttpRequestMessage` extension. We need something similar to that.

[2015-02-17 23:54] Praburaj commented on #195
why not use scoped service in DI?

[2015-02-18 00:35] Tratcher commented on #195
Related: https://github.com/aspnet/HttpAbstractions/issues/160

[2015-02-18 05:11] rynowak commented on #195
Where we have a need for this it's user-provided data. Ex: WebApiCompatShim with HttpResponseMessage. Defining services for this kind of thing doesn't scale is harder than what users are used to.

[2015-02-19 22:44] yishaigalatzer opened #197 "Need to expose ClientDisconnectedToken on HttpContext"
Spoke with @davidfowl and @GrabYourPitchforks today about the fact the we only have an indication of `RequestAborted` and cannot separate it from a disconnection from the client.

In system.web world client disconnection does not necessarily mean request should stop processing, where abort does mean that.

When are are done with this features requiring cancellation token in web scenarios can autom

[2015-02-19 23:03] Tratcher commented on #197
In what scenarios would you want a request to keep processing after the client has already disconnected?

[2015-02-20 01:18] yishaigalatzer commented on #197
Apparently this was a common request in System.Web. Here is a scenario I can think of

The user uploaded an image/video to the server, the server (hmm unwittingly) is processing multiple resolution versions of the image in the request, and that might take some time. The client disconnects, but the image/video processing should still continue.

[2015-02-21 15:09] sandorfr commented on #149
It is frequent to use client ip adresss to approximate geolocation (analytics or choose an appropriate default culture).

An example : server side call to mixpanel analytics, if we do not provide client IP, mixpanel takes our server IP to compute some attributes.

I definitely need this :). Thanks for the workaround  @tugberkugurlu .

[2015-02-22 00:42] GrabYourPitchforks opened #198 "Prefer the new encoders over Uri.EscapeDataString"
There are some call sites in this repo that invoke Uri.EscapeDataString. Instead of calling this static API, the caller should make an effort to use the IUrlEncoder that has been configured by the application developer, as it could have more permissive or restrictive logic than that of Uri.EscapeDataString.

If you have access to an IServiceProvider instance, import the `Microsoft.AspNet.WebUtilit

[2015-02-23 04:12] Daniel15 opened #200 "How to get current context?"
What's the best way to get the current `HttpContext` from within an arbitrary class? I tried `serviceProvider.GetRequiredService<IContextAccessor<HttpContext>>().Value` which works when I call it from within an ASP.NET MVC request but doesn't seem to work from within a middleware's `Invoke` method (I just get `null`). I know middleware `Invoke` methods get passed the `HttpContext` as a parameter b

[2015-02-23 04:51] davidfowl commented on #200
I assume you're talking about this?:

https://github.com/grumpydev/TinyIoC/blob/8f57aca79f91d354772af30c53f18394c9a5c325/src/TinyIoC/TinyIoCAspNetExtensions.cs#L11

How do you wire up the tiny IOC integration. From what I know, TinyIOC is an embeddable (as source) IOC container that you can use in your application. Is that right?

Maybe you pass an argument to `AsPerRequestSingleton()` flowing the

[2015-02-23 04:53] davidfowl commented on #200
I'm also assuming you're not trying to plug into the existing IOC support

[2015-02-23 05:01] Daniel15 commented on #200
For this particular project I'm trying to continue using the existing IoC container and just have some way of registering "per request" stuff similar to how the existing ASP.NET `HttpContext.Items` is used by TinyIoC.

I'm attempting to rewrite that `TinyIocAspNetExtensions` in a way that would work with ASP.NET 5: https://github.com/reactjs/React.NET/blob/asp5/src/React.AspNet5/HttpContextLifetim

[2015-02-23 05:13] Daniel15 commented on #200
So it looks like `_appServiceProvider.GetRequiredService<IContextAccessor<HttpContext>>().Value` does work if I add `app.UseRequestServices()` (which registers `ContainerMiddleware`) before my middleware. Is that expected, or am I doing something wrong and is something going to break?

I'm on beta2 which appears to be the latest version on NuGet.

[2015-02-23 05:14] davidfowl commented on #200
Thats how it works with beta2. It's changed in beta3 which isn't public yet but will be soon.

I see a few interesting things:

- Are you trying to get web server files or application files? (https://github.com/reactjs/React.NET/blob/asp5/src/React.AspNet5/AspNet5FileSystem.cs). They are in separate locations in ASP.NET 5.
- It seems like you're bootstrapping TinyIOC from the existing DI system. I

[2015-02-23 05:16] davidfowl commented on #200
Also, tabs instead of spaces omg :smile:

[2015-02-23 05:21] Daniel15 commented on #200
TinyIoC is the only DI system in use in this case. This is a library so all the DI stuff is self-contained and only contains stuff used within the library itself. I find it's the best way to use dependency injection in a library without pulling in external dependencies or relying on the user to configure their own DI container.

I'm really glad ASP.NET 5 will have DI built-in since it means I can

[2015-02-23 05:22] Daniel15 commented on #200
For what it's worth, the existing IoC registrations are here:

https://github.com/reactjs/React.NET/blob/master/src/React/AssemblyRegistration.cs (core)
https://github.com/reactjs/React.NET/blob/master/src/React.Web/AssemblyRegistration.cs (ASP.NET-specific stuff)

[2015-02-23 05:22] davidfowl commented on #200
This also looks suspect:

https://github.com/reactjs/React.NET/blob/asp5/src/React.AspNet5/ReactServiceCollectionExtensions.cs#L39

[2015-02-23 21:54] #193 closed

[2015-02-25 00:41] SidharthNabar commented on #129
@GrabYourPitchforks  @Tratcher

This should be fixed in the CTP6 version of System.Uri - please try it and let us know if you can still reproduce the issue.

Thanks,
Sidharth
[.NET Networking team]

[2015-02-26 02:39] spboyer opened #203 "When using EntityFramework.InMemory System.IO.DirectoryNotFoundException thrown on OSX"
Temporary directory cannot be created/found on OSX

https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Core/BufferingHelper.cs#L25-L29

@sayedihashimi

[2015-02-26 02:43] sayedihashimi commented on #203
That sucks, is there any way to override in yo templates to workaround it?

[2015-02-26 03:18] spboyer commented on #203
working feverishly to figure out.

[2015-02-26 03:22] spboyer commented on #203
Full stack error
running under OSX, Yosemite. beta3
[code]

[2015-02-26 06:50] Eilon commented on #203
That's a pretty awesome error, with a pretty awesome TODO comment :trollface:

@muratg when you get back can you have someone take a look at this?

[2015-02-26 15:27] stephenjwatkins commented on #181
@GrabYourPitchforks thanks for the quick fix.

I just wanted to get a quick clarification on if the fix was on this HttpAbstractions package, and updating to the latest package would resolve the issue? Or if the fix was elsewhere/there's something else we need to do besides updating to a newer version of the HttpAbstractions package?

[2015-02-26 16:44] Tratcher commented on #203
Dup: https://github.com/aspnet/HttpAbstractions/issues/168

[2015-02-26 16:49] Eilon commented on #203
Oh yeah that's an exact dup isn't it.

[2015-02-26 16:49] #203 closed

[2015-02-27 06:22] Eilon opened #204 "Rename AddEncoders to AddWebEncoders"
Came up in an API review - we were all confused as to what this method did until we saw the implementation. The name AddEncoders is just a bit too generic, and given that all these extension methods are in the same namespace, having more specific names seems like a good idea.

https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.Framework.WebEncoders/EncoderServiceCollectionExtensions

[2015-02-27 22:05] GrabYourPitchforks commented on #204
Included in PR https://github.com/aspnet/HttpAbstractions/pull/205.

[2015-02-27 22:54] #204 closed

[2015-02-28 13:22] borgdylan opened #207 "OwinFeatureCollection: regression"
After some recent changes in the hosting pipeline, the OwinFeatureCollection is no longer handling requests (requests do not even get read by the request pipeline). If I populate a FeatureCollection using an OwinFeatureCollection, the requests gets handled by the request pipeline but the response never surfaces out to the client.

[2015-02-28 19:13] borgdylan commented on #207
After further investigation, the failures are happening as the setter is throwing a ```NotSupportedException```. Certain features like the one for service providers, send file and request cookies are being set triggering the exception. If one removes the throw statement, nothing is fixed and the same client side behaviour persists.

[2015-02-28 20:40] GrabYourPitchforks commented on #181
The bug was actually in the `Microsoft.AspNet.Loader.IIS` package, not in HttpAbstractions, so that's where the fix was checked in.

[2015-02-28 23:43] GrabYourPitchforks opened #208 "Rename methods on CodePointFilter"
`AllowBlock` is weirdly named, even if the doc comments are clear as to what it does. Consider renaming for clarity.

Potential candidates:
`AllowUnicodeBlock` (verbose, still slightly weird)
`AllowRange` (would require renaming `UnicodeBlock` to `UnicodeRange`, which is incorrect)
`Allow` (will have many overloads, but this should be fine)

[2015-03-01 00:34] Tratcher commented on #207
Stack trace?

[2015-03-01 06:31] borgdylan commented on #207
The method in question is the indexer's setter. Will add a stack trace later.

[2015-03-01 06:37] davidfowl commented on #207
@borgdylan I'm interested in what changed that started to cause these problems.

[2015-03-01 06:57] Tratcher commented on #207
https://github.com/aspnet/Hosting/commit/435215b542586f2ab2f2a34df8e89b5bc7e52873

This I bet. The context factory assumed the incoming feature collection was read-only, so it wrapped it in mutable  collection. That wrapper was dropped in the last change, so it sounds like you're getting a notsupportedexception trying to call Set on a read-only feature collection.

Sent from my Windows Phone
_____

[2015-03-01 07:00] davidfowl commented on #207
Ah, good catch.

[2015-03-01 08:21] davidfowl commented on #207
@Praburaj Can you look at this? It's a regression caused by the code changes we made as a result of the API review. Add a test for it as well.

[2015-03-01 08:27] borgdylan commented on #207
@davidfowl  I agree with @Tratcher that this started to occur with IFeatureCollection being needed instead of an env object in the request handling delegate.

@Tratcher  Wrapping inside a mutable feature collection solves the exception issue as I have tried it. But the response body still does not get sent back to the client side.

[2015-03-01 08:30] borgdylan commented on #207
As an aside, Kestrel uses the mutable FeatureCollection directly. With that technique requests work OK. However I do get SignalR errors with respect to invalid delegate instructions.

[2015-03-02 17:29] Praburaj commented on #207
@borgdylan @Tratcher @davidfowl - I'll have a look at this today and add a test as well.

[2015-03-02 18:17] avanderhoorn opened #209 "HeaderDictionaryTypeExtensions typing issue"
Just wondering, why does `HeaderDictionaryTypeExtensions.GetTypedHeaders(...)` force `HttpRequest` and `HttpResponse` when `RequestHeaders` (which `GetTypedHeaders` creates) only requires a `IHeaderDictionary`? This is proving to be a pain point since `HttpRequest.Headers`/`HttpResponse.Headers` are of type `IHeaderDictionary`, this means that I have I have to explicitly cast the result from `Http

[2015-03-02 18:18] Praburaj commented on #207
@borgdylan what's the best way to reproduce this issue?

[2015-03-02 18:18] Praburaj commented on #207
I tried running a couple of `OWIN` based entropy samples and they seem to run fine.

[2015-03-02 18:57] borgdylan commented on #207
i have an updates server factory for nowin. Ill put it on github and you can try with it. It is what I am using.

[2015-03-02 19:03] borgdylan commented on #207
https://github.com/borgdylan/nowinfactory

[2015-03-02 21:11] Tratcher commented on #209
I don't follow. httpRequest.GetTypedHeaders() and httpRequest.Headers provide different views into the headers. There shouldn't be any casting between the two types.

Can you provide some sample code showing your issue with the current APIs and another showing how you'd like to use it?

[2015-03-02 22:49] Praburaj commented on #207
@borgdylan these changes already look to be in https://github.com/aspnet/Entropy/tree/dev/samples/Owin.Nowin.HelloWorld sample. This app seems to run fine. Does it require more than this to reproduce this issue?

[2015-03-02 22:55] avanderhoorn commented on #209
Sorry for not being 100% clear. But the following should show it:
[code]
So to work, one would need to do:
[code]

[2015-03-02 23:52] Tratcher commented on #209
Why not just `request.GetTypedHeaders()`?
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Extensions/HeaderDictionaryTypeExtensions.cs#L15

I don't see an overload that will even make your second example compile.

[2015-03-03 02:46] avanderhoorn commented on #209
Sorry my fault. For some reason when I was looking at that I kept thinking that the type that extension method wanted was `RequestHeaders` hence needing to cast. Sorry for the mistake!

[2015-03-03 02:46] #209 closed

[2015-03-03 05:45] davidfowl opened #211 "Remove .Interfaces from the namespace in Microsoft.AspNet.Http.Interfaces"

[2015-03-03 07:55] borgdylan commented on #207
My code is similar but has a logger for exceptions. With that the code will fail but the exception will be silently hidden.

Regards,
              Dylan Borg B. Sc. (Hons) ICT (Melit.)
              borgdylan@hotmail.com
              borgdylang@gmail.com
              dylan.borg.11@um.edu.mt
              +00356 99214902

Date: Mon, 2 Mar 2015 14:49:08 -0800
From: notifications@github.com
To: Ht

[2015-03-03 20:05] Praburaj commented on #207
@borgdylan Thanks. Got it.

Sent out a PR. https://github.com/aspnet/Hosting/pull/174

[2015-03-04 01:01] Praburaj commented on #207
merged the fix https://github.com/aspnet/Hosting/commit/fde3b0d2af5a7d8b595ef4f42e793c6263482caa

[2015-03-04 01:01] #207 closed

[2015-03-04 22:46] vibronet opened #213 "Microsoft.AspNet.Http.Security introduces a class name clashing with an existing ADAL class"
Microsoft.AspNet.Http.Security contains a class named "AuthenticationResult", which happens to be a homonym of one of the two key classes in the ADAL library programming model(https://www.nuget.org/packages/Microsoft.IdentityModel.Clients.ActiveDirectory). The class has been part of the ADAL model for the last 3 versions of the library.
It would be ideal if we could avoid this collision, as it for

[2015-03-05 00:05] Praburaj commented on #117
Fixed : https://github.com/aspnet/HttpAbstractions/commit/ae23f7c7bc956d40040c7a7a45aa2dedd293ebc4

We now have a feature `IRequestIdentifierFeature` to give this information.

[2015-03-05 00:05] #117 closed

[2015-03-05 11:35] davidfowl commented on #213
Do you have a suggestion for the name?

[2015-03-05 11:38] davidfowl commented on #211
We should do this as part of the API cleanup. Should we leave it as Http (that's actually cleaner) or add .Features back?

/cc @glennc @muratg @Tratcher

[2015-03-05 11:55] #200 closed

[2015-03-05 11:56] davidfowl commented on #190
@danroth27 Did you have any more thoughts on this?

[2015-03-05 11:58] davidfowl commented on #99
We need to make sure we revisit this entire area. We started and took tons of notes:

- https://github.com/aspnet/HttpAbstractions/wiki/Rolling-Notes
- https://github.com/aspnet/HttpAbstractions/wiki/Rolling-Notes---Response-Styles
- https://github.com/aspnet/HttpAbstractions/wiki/Rolling-Notes-Response-Stream-Contract

But we haven't finished it. We need to finish it and implement something.

/cc

[2015-03-05 18:04] Tratcher commented on #211
How is Http.Features any better than Http.Interfaces? By the convention it would be Http.Features in a package called Http.Features.Interfaces.

[2015-03-06 01:29] Praburaj commented on #211
https://github.com/aspnet/HttpAbstractions/commit/d5e1b198dcbc2a6a5097f2ad28ceb1ab536208d5

[2015-03-06 01:29] #211 closed

[2015-03-06 01:37] muratg commented on #168
@Praburaj Can you have a look?

[2015-03-06 01:38] muratg commented on #99
@glennc Can we get this discussed in the next design meeting?

[2015-03-06 01:40] Praburaj commented on #168
@muratg sure.

[2015-03-06 01:42] akoeplinger commented on #168
To save everyone a few clicks, this is what Mono ends up doing: https://github.com/mono/mono/blob/effa4c07ba850bedbe1ff54b2a5df281c058ebcb/eglib/src/gmisc-unix.c#L132-L151

[2015-03-06 20:49] Praburaj commented on #168
I have a proposal on this to check for folders in the following order (1 & 2 is what we have today).

1. `ASPNET_TEMP` - User set location for ASP.NET apps
2. `TEMP` - Works on windows points to appdata\local
3. `TMPDIR` - works on Mac and some linux distributions like Ubuntu
4. `TMP`
5. `/tmp` Looks like this is a recommendation - http://www.pathname.com/fhs/pub/fhs-2.3.html#TMPTEMPORARYFILES

Th

[2015-03-07 11:08] davidfowl commented on #168
I like it. I would file a bug on the corefx repository with this as well. Ideally we'd use Path.GetTempPath() and it would do the right thing.

ASPNET_TEMP can be used to override if course.

[2015-03-08 05:13] davidfowl opened #221 "SendFileExtensions should be in Http.Extensions"
https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNet.StaticFiles/SendFileExtensions.cs

[2015-03-08 05:14] davidfowl commented on #221
/cc @glennc @muratg More API cleanup

[2015-03-09 08:31] NTaylorMullen opened #222 "Transition AllowedCharsBitMap back to a struct."
Roslyn removed support for parameter-less constructors and this ended up causing issues so we transitioned the struct into a class to unblock the build. It should be moved back to be a struct when time permits.

[2015-03-09 08:34] GrabYourPitchforks commented on #222
For reference, the Roslyn work item where the feature was cut: https://github.com/dotnet/roslyn/issues/1029

[2015-03-09 19:25] Praburaj commented on #168
@Tratcher I remember you mentioning that `Path.GetTemppath` is not used here to avoid falling back to `userprofile`. Are you okay if I just change code to use `Path.GetTempPath` and just check for %ASPNET_TEMP% before?

[2015-03-09 21:03] Praburaj commented on #221
This file seems to have one `IApplicationBuilder` extension (`UseSendFileFallback`) rather than an extension on top of Request or response related objects. @davidfowl do you really want to move this to `Microsoft.AspNet.Http.Extensions` packages? For every other package the `IApplicationBuilder` extensions live in the respective packages.

[2015-03-09 21:07] davidfowl commented on #221
Oops wrong file:
https://github.com/aspnet/StaticFiles/blob/dev/src/Microsoft.AspNet.StaticFiles/SendFileResponseExtensions.cs

[2015-03-09 21:12] Praburaj commented on #221
got it.

[2015-03-09 21:27] Tratcher commented on #168
Ask @GrabYourPitchforks

[2015-03-10 02:36] #221 closed

[2015-03-10 02:54] Praburaj commented on #152
https://github.com/aspnet/HttpAbstractions/commit/58c45cd379774cf1fd683a12465cb52094b7193d

[2015-03-10 02:54] #152 closed

[2015-03-10 04:05] davidfowl opened #228 "Remove dependency on DependencyInjection and instead use DependencyInjection.Interfaces on Http.Extensions"
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Extensions/project.json#L7

[2015-03-10 04:05] davidfowl commented on #228
/cc @Praburaj

[2015-03-11 00:14] Praburaj commented on #168
@davidfowl - I talked with @GrabYourPitchforks on this. I think it is okay to use `Path.GetTempPath` as long as we check for `ASPNET_TEMP` first. I'll update the PR with this change.

[2015-03-11 01:09] #208 closed

[2015-03-11 01:10] #222 closed

[2015-03-11 03:13] davidfowl commented on #168
:shipit:

[2015-03-11 04:29] #168 closed

[2015-03-11 20:22] Praburaj commented on #228
@davidfowl `Http.Extensions` seems to have dependency over `DependencyInjection` as it requires `ActivatorUtilities` to instantiate the middleware object in the `UseMiddleware` extension. Not sure if there is an alternate for this.

[2015-03-13 20:26] #198 closed

[2015-03-13 21:42] Praburaj opened #231 "New Url encoders difference in behavior from Url.EscapeDataString"
@GrabYourPitchforks

[code]

With new encoder:
[code]

[2015-03-13 22:27] GrabYourPitchforks commented on #231
Per RFC 3986 (Appendix A) / RFC 3987 (Sec. 2.2), the segment, query, and fragment portions of a URI are all allowed to contain the colon character. I originally suspected that the Uri.EscapeDataString behavior was for compliance with RFC 2396, but even that older RFC allows colons pretty much everywhere (including in the userinfo). RFC 3986 was extended to allow colons in the host name to support

[2015-03-15 03:30] davidfowl commented on #195
We were going to do this as well /cc @GrabYourPitchforks @loudej

[2015-03-16 17:07] Praburaj commented on #228
Merged https://github.com/aspnet/HttpAbstractions/commit/93deb0b440ad2a1b6ff40cd747d6c3de704e458e

[2015-03-16 17:07] #228 closed

[2015-03-16 17:57] Praburaj opened #234 "Review if a package description is required for these packages"
[code]

[2015-03-17 15:57] BrennanConroy commented on #129
Looks fixed.

[2015-03-17 15:57] #129 closed

[2015-03-17 23:26] #160 closed

[2015-03-18 03:36] #231 closed

[2015-03-18 03:36] Praburaj commented on #231
https://github.com/aspnet/HttpAbstractions/commit/1e9d57f80ca883881804292448fff4de8b112733

[2015-03-19 07:08] davidfowl commented on #144
We're opening up services in Hosting to make decorating the IApplicationBuilder much easier. Glimpse can plugin in here and provide an IAppBuilder that does something the tracking of middlewares etc.

The PR is here https://github.com/aspnet/Hosting/pull/192. But the relevant interface is https://github.com/aspnet/Hosting/blob/haok/3-14armageddon/src/Microsoft.AspNet.Hosting/Startup/IStartupFilter

[2015-03-19 07:08] #144 closed

[2015-03-19 14:31] avanderhoorn commented on #144
+1

[2015-03-20 06:49] davidfowl opened #236 "Beef up error handling of UseMiddleware<T>"
Error conditions not checked:

- Return type must be Task
- Invoke method missing completely
- 0 arguments in Invoke

[2015-03-20 18:30] Praburaj opened #237 "ReadFormAsync throws exception if called on a request whose content type is not appropriate"
I can't seem to trace the history as the project on when this behavior changed. I see Elm middleware broken due to this.

https://github.com/aspnet/HttpAbstractions/blob/b77e9d2d9ccdf78e4cd0941af53aff08931b8374/src/Microsoft.AspNet.Http.Core/FormFeature.cs#L81

Instead of throwing an exception on requests whose content type is not FormContent type can we return an empty collection? Otherwise user

[2015-03-20 18:31] Praburaj commented on #237
@glennc @GrabYourPitchforks @Tratcher

[2015-03-20 19:19] Tratcher commented on #237
This was the intended design and it has been this way since at least my last round of feature work. Returning an empty form would be misleading.

[2015-03-23 23:52] Praburaj commented on #237
I see. Returning null also will not make much difference to the user code. Probably I can fix the Elm middleware.

[2015-03-23 23:52] #237 closed

[2015-03-24 16:27] sornaks opened #238 "QueryHelpers.AddQueryString should support # in the URL"
Currently, if you try to add a query string like `foo=bar` to `http://someurl.com/hello#world` it returns `http://someurl.com/hello#world?foo=bar` which should actually be `http://someurl.com/hello?foo=bar#world`

[2015-03-25 20:25] avanderhoorn commented on #149
Just wondering if there is any progress on this one?

[2015-03-26 23:50] Eilon commented on #238
Feel free to assign to @sornaks when triaging.

[2015-03-30 00:37] davidfowl opened #240 "Consider changing the header value to a value type that is either a single string or a string array"
Many of the headers are a single string value but we pay the cost of allocating an array in all of our APIs when setting a headers. We can avoid this by making the feature interface a value type what represents either a string or string[].

/cc @lodejard

[2015-03-30 14:39] girishnuli commented on #181
@GrabYourPitchforks I am facing the same issue as the OP. Application is deployed on IIS/Windows Server 2012 R2 x64. We are using Cloudflare and need to verify that the incoming ip address range matches the cloudflare ip address range. IIS logs the correct ip address (108.162.229.98), where as the application gets the ip address reversed (98.229.162.108) using the same code as OP posted above.

We

[2015-03-30 17:28] GrabYourPitchforks commented on #181
The fix is available starting with Microsoft.AspNet.Server.IIS version 1.0.0-beta4-10983. You may need to update other core project references (such as the KRE host) to a corresponding beta4 release due to runtime interface changes between beta3 and beta4. @muratg should be able to assist you in finding a workable combination.

[2015-03-31 03:53] girishnuli commented on #181
@GrabYourPitchforks Thank you! If we update references to beta4+, then I believe we will require dnx instead of kre?

@muratg Any pointers on how we can upgrade to dnx and the latest beta packages without breaking VS CTP6? The name change is causing some confusion, so please dont mind I am getting this wrong.  Thanks.

[2015-04-01 17:49] davidfowl commented on #97
Closing this out

[2015-04-01 17:49] #97 closed

[2015-04-01 21:19] GrabYourPitchforks opened #242 "WebEncoders always encode CJK ideographs and Hangul syllables"
The encoders always encode some characters (like U+3401 㐁) even if the corresponding UnicodeRange is present in the allow list. This behavior is a bug: these characters shouldn't be on the encoders' internal "always encode" list.

The root of the issue is that certain ranges of characters (CJK ideographs and Hangul syllables) aren't represented as individual lines in UnicodeData.txt, so the genera

[2015-04-01 21:20] GrabYourPitchforks commented on #242
/cc @muratg @ellismg

[2015-04-02 22:18] danroth27 opened #245 "Add missing Request.IsAjaxRequest"
Copied from aspnet/mvc#2291.

In order to do something like this, you need the IsAjaxRequest method, which doesn't seem to exist in ASP.NET 5.

Note: I think it's `Context.Request` now, and not just  Request .

@glen-84

[2015-04-02 22:25] Tratcher commented on #245
Like this?
https://github.com/aspnet/Security/blob/775eb5ece452e10a27aa166f52b58a6c0b615d18/src/Microsoft.AspNet.Authentication.Cookies/Notifications/DefaultBehavior.cs#L35

[2015-04-03 05:21] danroth27 commented on #245
@DamianEdwards I thought this was just a header thing - I'm not familiar with the query string parameter. Presumably we should do whatever the existing ASP.NET implementation does.

[2015-04-03 08:47] glen-84 commented on #245
I haven't seen the query string parameter either, but it may make more sense to swap those blocks and check the header first (micro-optimization).

[2015-04-04 00:14] pranavkm commented on #10
@muratg sorry didn't see the comment earlier. For Mvc's use in model binding, this is a nice to have feature - to be able to get a Culture back for a specific request. However there's an alternate aspect of `Thread.CurrentCulture` being set according to the request culture which results in formatted strings producing the right value. Perhaps something in hosting needs to set this?

[2015-04-04 08:55] davidfowl opened #246 "Test failure on mono: Microsoft.AspNet.Http.Core.FormFeatureTests.ReadFormAsync_MultipartWithFieldAndFile_ReturnsParsedFormCollection [FAIL]"
https://travis-ci.org/aspnet/HttpAbstractions/builds/57113537

Looks like a functional issue

/cc @Tratcher @Praburaj

[2015-04-05 05:16] Tratcher commented on #246
https://github.com/aspnet/HttpAbstractions/blob/dev/test/Microsoft.AspNet.Http.Core.Tests/FormFeatureTests.cs#L100

I assume Git is setup to download files using OS specific line endings? I think that's changing the new lines in these multi-line C# strings. Multipart requires CRLF, Windows uses CRLF, but Linux uses LF (or CR?).

Recommended fix: Don't use multi-line C# strings when the new line ch

[2015-04-05 16:29] davidfowl commented on #190
We decided to swap the names:

- Http.Core - Abstractions
- Http - Implementations

/cc @glennc @muratg @lodejard

[2015-04-06 18:38] #246 closed

[2015-04-07 18:47] Tratcher opened #250 "Verify Http date parsing on Mono"
https://github.com/aspnet/HttpAbstractions/pull/248/files#diff-32a431f39deb48b1bcd4b641cdf0fcc7L115

When testing on Mono we found one test string that parsed when it should have failed. Figure out why.

Data: [InlineData(" Wed 09 Nov 1994 08:49:37 GMT")] - This should fail due to the missing comma after `Wed`.  See the allowed formats in https://github.com/aspnet/HttpAbstractions/blob/dev/src/Mic

[2015-04-07 21:21] #242 closed

[2015-04-08 10:38] IntelOrca opened #251 "PathString throws exception with empty message."
The PathString class has its exception message commented out when the path does not start with a slash. It looks like it should be added to the resources or otherwise written inline.

https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http/PathString.cs#L32

[2015-04-09 09:48] davidfowl opened #255 "Move IServerInformation out of HttpAbstractions"
Server implementations should have to depend on Microsoft.AspNet.Http https://github.com/aspnet/Hosting/blob/f337f8cd04459e541431df04d859b705f3d2f6f7/src/Microsoft.AspNet.Hosting.Server.Interfaces/project.json#L5. Today they do because of this single type.

Let's decide where to put this type. Maybe Http.Interfaces?

/cc @Tratcher @lodejard @Praburaj

[2015-04-09 12:27] Tratcher commented on #255
Putting it in Http.Interfaces would introduce a dependency from Http to Http.Interfaces. Unless we removed it from IApplicationBuilder and put it back in the Properties collection with extension methods like before.

Or just drop the interface from IApplicationBuilder and go back to `object`. You have to downcast it to do anything useful anyways.

[2015-04-09 16:43] davidfowl commented on #255
I was thinking the object route was probably best as well.

[2015-04-09 16:46] Tratcher commented on #255
Lets draw it out on the whiteboard.

[2015-04-09 22:12] justinvp opened #256 "SessionCollectionExtensions.SetInt and GetInt don't follow the design guidelines"
[`SessionCollectionExtensions` has the following two methods](https://github.com/aspnet/HttpAbstractions/blob/114d834876d91fffb42ea643044b434e85363411/src/Microsoft.AspNet.Http.Extensions/SessionCollectionExtensions.cs#L11-L31):

[code]

These method names do not follow the [Framework Design Guidelines](https://msdn.microsoft.com/en-us/library/vstudio/ms229045(v=vs.110).aspx):

These methods shoul

[2015-04-09 23:00] justinvp commented on #245
Just curious: is this still worth including in light of the up-and-coming [Fetch API](https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API) (which, [I don't believe](https://github.com/github/fetch/issues/17) sets `X-Requested-With`)?

[2015-04-10 10:32] glen-84 commented on #245
@justinvp,

Even though that's just an experimental technology, the same would probably be true for something like an ES6 module loader, where this header would not exist. So maybe this method is not really needed. Detecting an "AJAX" request might look different in the future (users may send their own header, for example). It's also easy enough to just check the header directly.

@danroth27,

You

[2015-04-10 22:05] ryan1234 opened #259 "Explicit versioning for KoreBuild in build.sh?"
I'm stuck on beta3 for now and wanted to debug something around Http.Core. I tried to build the master branch on Linux (build.sh), and this line https://github.com/aspnet/HttpAbstractions/blob/master/build.sh#L26 got me stuck.

Without explicit versioning it pulls beta5 and the new names (dnx, dnu, etc.) while the rest of the build script wants kvm.sh.

I changed the line to:

[code]

and everythi

[2015-04-10 22:13] davidfowl commented on #259
That's a good suggestion. Can you file this on https://github.com/aspnet/Universe. We should do this when we make release branches.

[2015-04-11 01:07] Eilon commented on #256
Agreed.

[2015-04-12 06:15] davidfowl commented on #256
@justinvp you gonna send a PR ?

[2015-04-12 06:52] #259 closed

[2015-04-12 20:55] justinvp commented on #256
Sure. I'll get to it later this week.

[2015-04-13 05:05] #255 closed

[2015-04-13 05:30] davidfowl commented on #149
We should add this to HttpContext /cc @lodejard @glennc @muratg

[2015-04-13 16:59] davidfowl opened #261 "Move FormCollection to WebUtilities"
MVC currently takes a dependency on Http.Core because of it and it shouldn't have to.

[2015-04-13 17:12] Tratcher commented on #261
You need to consider the full object graph. You would have to move FormCollection, IFormCollection, FormFileCollection IFormFileCollection, ReadableStringCollection, and IReadableStringCollection.

[2015-04-13 17:14] davidfowl commented on #261
Sure, let's find a suitable place for those types then.

[2015-04-13 17:17] Tratcher commented on #261
The interfaces are in Http and the collections are in Http.Core. Moving the interfaces will require adding dependencies to Http.

[2015-04-13 17:19] davidfowl commented on #261
Maybe we need to move them into a lower package. What does the dependency graph look like today.

[2015-04-13 23:38] felipepaixao opened #262 "Can't access temporary directory in Linux when running an Asp.Net 5 Application"
Having trouble when i asp.net 5 try to access temp folder.
running under Linux  .beta3

[2015-04-14 01:03] Tratcher commented on #262
https://github.com/aspnet/HttpAbstractions/issues/168

[2015-04-14 17:24] Tratcher opened #264 "ApiReview: Rename RequestDelegate to RequestHandler"

[2015-04-14 17:25] davidfowl commented on #264
We decided against this.

[2015-04-14 17:47] Tratcher opened #265 "ApiReview: IApplicationBuilder & extensions"
Remove IApplicationBuilder Properties & Server setters.
Remove Run extensions that take services.
Remove Map string overload (and add implicit conversion between PathString & String).
Remove Map PredicateAsync support.

[2015-04-14 17:55] #264 closed

[2015-04-14 18:12] Tratcher opened #266 "ApiReview: Move all authentication APIs to HttpContext.Authentication"
Authenticate, SignIn, SignOut, Challenge

But not User.

[2015-04-14 18:15] Tratcher opened #267 "ApiReview: Move WebSocket APIs to HttpContext.WebSockets"
[code]

But not `IsWebSocketRequest { get; }`

[2015-04-14 18:31] Tratcher commented on #267
I think it makes sense to also move IsWebSocketRequest in with everything else. Just accessing HttContext.WebSockets doesn't imply any operations. Compare to HttpContext.Authentication.

[2015-04-14 18:32] davidfowl commented on #267
context.WebSockets.IsWebSocketRequest? /cc @lodejard

[2015-04-14 18:36] Tratcher opened #268 "ApiReview: How can we efficiently represent items that may be either singular or plural"
Multiple data structures use pairs of `<string, string[]>`, however it is very common for the array to only contain one element. Is there a more efficient way to represent this?

[2015-04-14 18:41] Tratcher opened #269 "ApiReview: QueryString & Builder"
Consolidate QueryBuilder into QueryString
Remove the `QueryString(string name, string value)` constructor. Consider changing it to a Create method with the Builder APIs?

Consider renaming QueryString (needs design)

[2015-04-14 18:47] Tratcher opened #270 "ApiReview: AuthenticationDescription, AuthenticationProperties"
Rename the underlying collection referenced by these wrappers to be `items`, instead of `properties` or `dictionary`.

[2015-04-14 19:09] Tratcher opened #271 "ApiReview: Move BufferingHelper to internal namespace"

[2015-04-14 19:43] Tratcher opened #272 "ApiReview: Make most properties settable on HttpContext, HttpRequest, HttpResponse, etc."
Anything that makes sense to set during testing.

Yes:
Items (& IItemsFeature.Items)
RequestAborted
Request.Cookies (& IRequestCookiesFeature.Cookies)
Request.IsHttps
Request.Query (& IQueryFeature.Query)

Maybe:
Request, Response
Request.Headers
Response.Headers
Response.HeadersSent
Response.Cookies - not a collection

No:
IsWebSocketRequest (You have to replace the entire feature for testing)
We

[2015-04-14 19:45] Tratcher opened #273 "ApiReview: Favor abstract base classes over interfaces for context objects"
IWebSocketAcceptContext
IAuthenticateContext
IChallengeContext
IDescribeSchemesContext
ISignInContext
ISignOutContext

[2015-04-14 19:49] Tratcher opened #274 "ApiReview: Consolidate extensions"
HeaderDictionaryTypeExtensions - Move all of these extensions (except GetTypedHeaders) to public methods on Request/ResponseHeaders.
HttpResponseSendingExtensions - Cut all of these unless find examples where they are very useful (MVC?)

[2015-04-14 19:51] Tratcher opened #275 "ApiReview: Make UriHelper only static"
Remove everything except the static Create methods that return string.

[2015-04-14 20:55] Tratcher commented on #190
Put everything in the Http namespace.
- Http.Core - Abstract base classes, used to implement middleware
- Http - Implementations, only referenced by Hosting & tests

[2015-04-14 20:57] Tratcher opened #276 "ApiReview: Remove IHttpApplicationFeature"
All of the items have moved to services like IApplicationEnivornment, IApplicaitonLifetime, etc..

[2015-04-14 20:59] Tratcher opened #277 "ApiReview: IHttpClientCertificateFeature"
Rename to ITlsConnectionFeature

What else should be added to this? The tls token binding?

[2015-04-15 16:40] #167 closed

[2015-04-16 19:16] #149 closed

[2015-04-16 19:27] blowdart opened #279 "Use X509Certificate2 instead of X509Certificate"
X509Certificate2 is preferably as it adds properties, rather than methods to get common fields (like valid from, valid to, subject etc.) In addition it provides Authority Key ID and Key usage, (key usage being especially important).

X509Certifcate2 subclasses X509Certificate should it should be an easy enough upgrade,.

[2015-04-16 23:18] Tratcher commented on #261
I noticed that several Authentication packages had a similar dependency.

[2015-04-17 16:51] #256 closed

[2015-04-17 17:09] Tratcher commented on #272
Remove DefaultHttpContext.Revision.

[2015-04-17 18:07] Tratcher commented on #273
This only works if all the POCOs are put into Http.Interfaces.

[2015-04-17 18:10] Tratcher opened #281 "ApiReview: Move most of Http into Http.Internal namespace"
Move everything but HttpContext/Request/Response, and then pull back items as needed.

[2015-04-17 22:24] pranavkm opened #284 "Setting Encoding on MediaTypeHeaderValue loses all configuration when getting."
[code]

[2015-04-17 23:28] Tratcher commented on #284
By design, none of that information is encoded in the header, just the charset.

[2015-04-19 18:46] matthewDDennis opened #287 "app.UseBrowserLink can't be used after Http and Http.Core swap"
Since this refactoring, I have to comment out app.UseBrowserLink() in order to compile.  I get the following error
    Severity	Code	Description	Project	File	Line
    Error	CS7069	Reference to type 'IApplicationBuilder' claims it is defined in 'Microsoft.AspNet.Http',  but it could not be found	Web.DNX 4.5.1	C:\Users\matthew.OFFICE\Documents\Visual Studio 2015\Projects\CpRefactorArticles\Web\Start

[2015-04-19 19:34] davidfowl commented on #287
That's expected. We're making big API changes in beta5 (after API reviews). So beta4 and beta5 packages cannot be mixed.

[2015-04-19 19:34] #287 closed

[2015-04-19 23:08] matthewDDennis commented on #287
I am using beta 5 with vs15 rc.
On Apr 19, 2015 3:34 PM, David Fowler <notifications@github.com> wrote:That's expected. We're making big API changes in beta5 (after API reviews). So beta4 and beta5 packages cannot be mixed.

—Reply to this email directly or view it on GitHub.

[2015-04-20 03:25] Tratcher commented on #287
This change just went in last week (Tuesday?) so I don't know if the browserlink folks have even picked it up yet.  Even if they have, you'll need the absolute latest version of all the beta5 packages.

[2015-04-20 03:27] davidfowl commented on #287
Right, plus there's no ci builds of browser link.

[2015-04-20 14:28] evil-shrike opened #288 "How to work with Uri and QueryString in ASP.NET 5"
Previously in old MVC and WebApi Request types (`HttpRequestBase` and `HttpRequestMessage`) had property `QueryString` of type `NameValueCollection`. It represented key-value pairs in request's query string. Now in AspNet5 `HttpRequest` has `QueryString` property which type is `QueryString` struct. But it's just a wrapper around a string value. It doesn't have values, indexer, IEnumerable. Nothing

[2015-04-20 14:49] Tratcher commented on #288
Look at HttpRequest.Query for the parsed query.

We've found that System.Uri is better adapted to client scenarios where you are addressing a server. On the server you usually work with the individual components, not the combine string.

UrlEncode is available here:
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.Framework.WebEncoders.Core/UrlEncoder.cs

[2015-04-20 14:59] evil-shrike commented on #288
What package should I install for WebEncoders?

[2015-04-20 15:15] evil-shrike commented on #288
@Tratcher thanks for the answer
Also let me ask a related question (to QS handling).
In old WebApi I had logic for combining key-value pairs from QS and body (it's for working around url length limit in browsers).
So I had something like this:
[code]
NOTE: `IncludePostDataInQuery` flag in Properties collection I put in some action filter where I checked for the current HttpRequest's  method and cu

[2015-04-20 15:19] Tratcher commented on #288
See HttpRequest.ReadFormAsync.

[2015-04-20 16:37] #190 closed

[2015-04-20 16:53] evil-shrike commented on #288
Ok, thanks.
UrlEncoder isn't in beta3 yet, right?

[2015-04-20 17:39] Tratcher commented on #267
Also do with #273 for IWebSocketAcceptContext.

[2015-04-21 15:26] Tratcher opened #289 "ApiReview: Rename Microsoft.AspNet.Builder namespace"
@davidfowl Please don't just put it all into the Http namespace.

[2015-04-21 18:00] HaoK commented on #289
Are the only two things that live in this namespace IApplicationBuilder and ApplicationBuilder?

[2015-04-21 18:02] Tratcher commented on #289
And all of the IApplicationBuilder extension methods. Those are what I'd like to keep separate from Http.

[2015-04-21 18:04] HaoK commented on #289
Microsoft.AspNet.Application?

[2015-04-21 18:54] Tratcher commented on #277
Also fix the cert type: https://github.com/aspnet/HttpAbstractions/issues/279

[2015-04-23 21:46] brentschmaltz opened #291 "DefaultHttpResponse.Challenge has parameters in different order than SignIn or SignOut"
public override void Challenge(AuthenticationProperties properties, string authenticationScheme)
public override void SignIn(string authenticationScheme, [NotNull] ClaimsPrincipal principal, AuthenticationProperties properties)
public override void SignOut(string authenticationScheme, AuthenticationProperties properties)

placement of authenticationScheme should be consistent.

[2015-04-24 14:42] kichalla commented on #284
I too came across this issue now. As part of fixing the issue https://github.com/aspnet/Mvc/issues/2411, we would like to expose MediaTypeHeaderValue, but any setting related to encoding is lost as we do not preserve the supplied encoding.

https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.Net.Http.Headers/MediaTypeHeaderValue.cs#L76

/cc: @Eilon @rynowak

[2015-04-24 15:17] Tratcher commented on #284
These header value types are strict representations of the HTTP headers. The Encoding property is just a convenient way to get or set the charset parameter.  If this is misleading then I will remove the property.

[2015-04-24 16:27] pranavkm commented on #284
@kichalla see https://github.com/aspnet/Mvc/issues/2408#issuecomment-94517130. We might have to solve this in Mvc \ create a writer in some common code base that can be used in lieu of using `StreamWriter`. That said, I think formatters are unaffected by this today (might have to check)

[2015-04-24 16:37] kichalla commented on #284
@pranavkm : I am a bit unclear about your comment. Are you referring to the part after an encoding is selected?

[2015-04-24 16:57] pranavkm commented on #284
The preamble behavior for UTF8 was a problematic property - we use a `StreamWriter` to write out Razor views which renders the preamble if the `Encoding` specifies one. Round-tripping `Encoding` using `MediaTypeHeaderValue` resets the preamble behavior.

Are there other properties on `Encoding` that need to be preserved between round trips? If not, we probably shouldn't care about preserving the a

[2015-04-24 21:11] Tratcher commented on #277
There is already a ITlsTokenBindingFeature for token binding. It's a significantly different feature and it's OS specific, so lets not combine it with ITlsConnectionFeature.

[2015-04-25 08:59] davidfowl opened #292 "Move some types to a .Internal namespace"
now that we did the Http -> Http.Core swap we need to move some types into an internal namspace:

- BufferingHelper

[2015-04-25 11:35] Tratcher commented on #292
Dupe of https://github.com/aspnet/HttpAbstractions/issues/281, https://github.com/aspnet/HttpAbstractions/issues/271

[2015-04-25 11:35] #292 closed

[2015-04-26 03:03] davidfowl commented on #291
/cc @Tratcher did you fix this?

[2015-04-26 03:48] Tratcher commented on #291
Yes

[2015-04-26 04:53] #291 closed

[2015-04-27 16:46] #274 closed

[2015-04-27 16:46] #266 closed

[2015-04-27 16:47] #270 closed

[2015-04-27 16:47] #273 closed

[2015-04-27 16:47] #267 closed

[2015-04-29 19:40] Tratcher opened #295 "ApiReview: Rename packages (again)"
Http.Abstractions – HttpContext (abstract), referenced by middleware, Http, and applications
Http – DefaultHttpContext (implementation), referenced by Hosting (no change)
Http.Features – Feature interfaces & POCOs, referenced by Http and Servers

It might even make sense to merge the FeatureModel package into Http.Features.

[2015-04-29 21:50] Tratcher opened #297 "Consider merging the FeatureModel and Features packages"
The FeatureModel package is used by Http (DefaultHttpContext), Servers (IFeatureCollection), and Hosting (new DefaultHttpContext(iFeatureCollection)).

The Features package is used by Http (DefaultHttpContext), Servers, and some middleware that access features not directly available on HttpContext.

[2015-04-29 21:51] Tratcher commented on #295
Moving the FeatureModel work to its own bug: https://github.com/aspnet/HttpAbstractions/issues/297

[2015-04-29 23:24] #295 closed

[2015-04-29 23:24] #276 closed

[2015-04-29 23:24] #277 closed

[2015-04-30 18:11] Tratcher commented on #269
Usage 1:
[code]
https://github.com/aspnet/Security/blob/87c31c5526edee557997f03c7b13d46cb5d1d893/src/Microsoft.AspNet.Authentication.Facebook/FacebookAuthenticationHandler.cs#L30-L39
https://github.com/aspnet/Security/blob/63fc18b945bb30b217de20d2aec7c042f70a68ae/src/Microsoft.AspNet.Authentication.OAuth/OAuthAuthenticationHandler.cs#L228-L236

Usage 2:
[code]
https://github.com/aspnet/Routing/blo

[2015-04-30 19:10] Tratcher commented on #269
QueryString cannot efficiently implement either pattern shown above. It would be like trying to merge String and StringBuilder.  I think QueryBuilder needs to remain as is.  I will just update the QueryString constructor.

[2015-05-04 16:23] blowdart commented on #42
And rename the "secure" cookie option as part of this.

[2015-05-04 16:25] Eilon commented on #42
Removing @GrabYourPitchforks as the assignee :smile: (Unless you like, you know, really want to do it :smile: )

[2015-05-04 16:34] Tratcher commented on #42
@blowdart in this case `secure` is appropriate because that's the actual text used in the cookie header.

[2015-05-04 16:41] blowdart commented on #42
That doesn't make it true though.

[2015-05-04 16:44] Tratcher commented on #42
Agreed, but we can't change the RFC.  Renaming our APIS that set this value will just case confusion about what's being set.

[2015-05-04 17:07] davidfowl commented on #42
Seems like this would be a feature of Hosting

[2015-05-04 17:09] Tratcher commented on #42
Any proposals on how? High jacking the `IResponseCookiesFeature`?

[2015-05-04 17:23] davidfowl commented on #42
I think so.

[2015-05-04 18:03] SteveArr commented on #42
I would be interested in taking this on.

I am already doing some work with the Secure flag on cookies for https://github.com/aspnet/Session/pull/28

[2015-05-05 11:22] mkosieradzki opened #301 "Add net45 targets for HttpAbstractions"
I have been asked by @Eilon to post requests for adding .NET 4.5 support for useful packages in proper repos (https://github.com/aspnet/Home/issues/532).

http://blogs.msdn.com/b/webdev/archive/2014/11/14/katana-asp-net-5-and-bridging-the-gap.aspx, http://katanaproject.codeplex.com/wikipage?title=roadmap - from this articles I understand all or almost all HTTP abstractions packages should be made

[2015-05-05 12:27] Tratcher commented on #301
Sorry, that's not what I meant when I wrote those.  When discussing the full framework I was referring to dnx451, not net45.  As @davidfowl said, dnx adds important runtime capabilities on top of the .NET 4.5 API set. We have already added net45 support to the packages we planned on (e.g. https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.Net.Http.Headers/project.json, https://githu

[2015-05-05 13:10] mkosieradzki commented on #301
@Tratcher
Thanks a lot for clarification. I am migrating large project to ASP.NET 5 and Service Fabric and it's quite difficult to find out what will and what will not be supported at final realease.

The most difficult part of migration is trying to temporary retain some compatibility with System.Web and ASP.NET web forms and to be able to use some new features like MVC6, ServiceFabric, and sub-h

[2015-05-05 13:10] #301 closed

[2015-05-06 18:58] #269 closed

[2015-05-06 19:04] #275 closed

[2015-05-06 20:37] Tratcher commented on #265
@muratg @davidfowl @lodejard What about the Use extensions that take services? Those are still there.
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Abstractions/Extensions/UseExtensions.cs#L37

[2015-05-06 21:49] Tratcher commented on #271
Duplicate: https://github.com/aspnet/HttpAbstractions/issues/281

[2015-05-06 21:49] #271 closed

[2015-05-07 15:54] Tratcher opened #303 "Enable all tests on CoreCLR"
Remove shoudly and mock dependencies.

[2015-05-07 22:47] #265 closed

[2015-05-07 22:47] #281 closed

[2015-05-08 21:47] #303 closed

[2015-05-11 18:55] Tratcher commented on #272
HttpContext.Session can't be easily set. The property is an ISessionCollection, but the feature stores an ISession that the collection wraps. We may need to think about the layering there.

[2015-05-12 21:07] #272 closed

[2015-05-15 22:49] #176 closed

[2015-05-17 03:57] rajajhansi opened #307 "What is the equivalent of HttpResponse.ClearContent() and HttpResponse.SuppressContent in HttpAbstractions?"

[2015-05-17 04:15] Tratcher commented on #307
There isn't any yet. Both of these members deal with response buffering which has not been implemented yet in ASP.NET 5.  Here's the related work item:
https://github.com/aspnet/Hosting/issues/49

[2015-05-17 04:56] rajajhansi commented on #307
@Tratcher Thank you for the quick reply. I'm porting an ASP.NET MVC5 application into MVC6 and it uses VirtualPathUtility to get the absolute path for paths starting with "~". Are there any equivalents to Request.Url.AbsolutePath and Request.Url.AbsoluteUri  ?

[2015-05-17 05:03] davidfowl commented on #307
@rajajhansi Please don't ask unrelated questions on bugs that you filed. Treat each new question as a separate issue. If you don't know where to file it, open it on aspnet/Home.

[2015-05-17 05:03] #307 closed

[2015-05-17 05:21] rajajhansi commented on #307
@davidfowl, ??? It was a question and not a follow up to any bug. Please understand that I didn't file any bug related to my question. Since HttpResponse belongs to HttpAbstractions, I asked the question in this project.

[2015-05-17 05:23] rajajhansi commented on #307
@davidfowl, I got it.  I can open another issue for the 2nd question.

[2015-05-17 05:25] rajajhansi opened #308 "Are there any equivalents to Request.Url.AbsolutePath and Request.Url.AbsoluteUri ?"

[2015-05-17 13:38] Tratcher commented on #308
We found that AbsoluteUri was not usually the correct value or format for what people needed. Most of the time you need just some parts of the Uri.

From your prior post: `I'm porting an ASP.NET MVC5 application into MVC6 and it uses VirtualPathUtility to get the absolute path for paths starting with "~".`

@pranavkm, How did you decide to handle "~" in MVC?

[2015-05-17 13:58] pranavkm commented on #308
At this point, we simply trim the `~` and interpret it as `ApplicationBasePath`.

[2015-05-17 15:38] rajajhansi commented on #308
@Tratcher @pranavkm , thanks guys. I'm currently injecting IApplicationEnvironment using [Activate] to access the ApplicationBasePath. :) This is ugly. In some places, I construct the IOptions<MyFeatureService> and add properties for anything tat depends on IApplicationEnvironment, Configuration etc. Is this the correct way?

[2015-05-17 15:59] davidfowl commented on #308
@rajajhansi What are you actually doing?

[2015-05-18 21:50] Tratcher opened #309 "Rename IHttpConnectionFeature to ITcpConnectionFeature"
It's not an http connection, it's a TCP connection. Similarly we have an ITlsConnectionFeature.

[2015-05-18 23:00] Tratcher opened #310 "IRequestIdentifierFeature cleanup"
- Rename to IHttpRequestIdenfitierFeature for consistency with other features.
- Make it settable
- Make the value a string instead of Guid.

[2015-05-19 22:58] Tratcher commented on #309
Also rename LocalIpAddress to LocalIPAddress to match naming guidelines. Same for RemoteIpAddress.

[2015-05-20 04:19] davidfowl commented on #310
yay

[2015-05-20 10:57] davidfowl opened #311 "Move UseMiddleware to Http.Abstractions"
It's a pretty core overload to creating middleware and it would be great if we could move it to the main assembly. We want to make a middleware template in VS that does the following:

[code]

Item templates can't add packages so we need to move the UseMiddleware<T> to the core assembly. I'm not comfortable with making our core Http types rely on DI so maybe we make that thing shared source (just

[2015-05-20 10:58] davidfowl commented on #311
/cc @Tratcher @DamianEdwards @muratg

We want to do this for beta5 so we can add the item template to VS.

[2015-05-20 17:26] Tratcher commented on #311
The new dependency would be on DI.Abstractions, not DI, so that's not terrible.

[2015-05-20 17:34] davidfowl commented on #311
Thats pretty terrible.

[2015-05-20 20:33] Tratcher commented on #311
@rustd

[2015-05-20 20:33] #311 closed

[2015-05-21 00:48] davidfowl commented on #309
Ugh I'm not so sure about this naming...

[2015-05-21 02:55] JamesNK commented on #309
IPAddress is the standard in .NET land https://msdn.microsoft.com/en-us/library/system.net.ipaddress%28v=vs.110%29.aspx

[2015-05-21 02:59] davidfowl commented on #309
I mean TCP vs Http

[2015-05-21 07:06] davidfowl opened #313 "Remove first class IServiceProvider properties"
We should remove:
- IApplicationBuilder.ApplicationServices
- HttpContext.ApplicationServices
- HttpContext.RequestServices

We should make the providers available via HttpContext.Items with specific keys. Reason being that only framework pieces need access to the service provider so that we can pick composition roots for user code to plug into. This will encourage us to make those points more obv

[2015-05-21 09:53] davidfowl commented on #313
/cc @Tratcher @muratg @Eilon @lodejard

[2015-05-21 09:59] rynowak commented on #313
This is going to **wreck** action results

[2015-05-21 16:33] Tratcher commented on #313
This shouldn't go in Items, it should remain a Feature. You can drop the HttpContext properties and access it via GetFeature instead.

[2015-05-25 08:24] imranbaloch commented on #97
@davidfowl The `env.IsEnvironment("Development")` returns true whether I select Debug or Release mode from VS. Is it not good to change the environment variable value if I select different configuration?

[2015-05-28 04:34] Tratcher commented on #268
Duplicate of https://github.com/aspnet/HttpAbstractions/issues/240 ?

[2015-05-28 04:38] Tratcher commented on #183
Done as part of https://github.com/aspnet/HttpAbstractions/issues/272

[2015-05-28 04:38] #183 closed

[2015-05-28 04:40] Tratcher commented on #10
@pranavkm I assume this is now taken care of by https://github.com/aspnet/localization ?

[2015-05-28 04:46] pranavkm commented on #10
Yup.

[2015-05-28 04:46] #10 closed

[2015-05-28 19:19] danroth27 opened #315 "Non-english characters are encoded"
Reported as https://github.com/aspnet/Razor/issues/409 by @anfomin

Every non-english character is encoded. For example:
[code]

The result is something like:
![2015-05-27 9 55 55](https://cloud.githubusercontent.com/assets/1905503/7829109/e6386e18-0456-11e5-8b52-408c3a15dc31.png)

----

Characters displayed correct, but page size increased significantly :-1: Also MVC 5 rendered unicode symbol cor

[2015-05-28 19:22] blowdart commented on #315
Actually MVC 5 would have done the same if you'd switched to AntiXSS as the encoder.

By design.

[2015-05-28 19:22] Tratcher commented on #315
What API are you complaining about?

[2015-05-28 19:23] Tratcher commented on #315
Ah,  IHtmlEncoder

[2015-05-28 19:24] dougbu commented on #315
@blowdart however in MVC 5 it was a _choice_ and the default HTML encoder provided readable source or a reasonable size.

[2015-05-28 19:24] blowdart commented on #315
The standard Russian characters should have been safe listed with the new encoder.
You'll need to examine the whitelist generation to see why they're not.

[2015-05-28 21:06] dougbu commented on #315
@blowdart from the `HtmlEncoder` source, the default escaped range is `UnicodeRanges.BasicLatin` which has this convenient comment:
[code]

Are you suggesting a different default?

[2015-05-28 21:11] blowdart commented on #315
I though it was changed, but ok. And no, let's be honest, I'd encode *everything* by default to avoid certain utf7 badness. Customer can use the Default property to widen their safe list as needed.

[2015-05-29 00:39] davidfowl opened #317 "Remove dictionary that tracks string -> Type in FeatureCollection"
We don't support duck typing in the feature collection anymore so tracking interface types by full name is pointless and wastes memory.

[2015-05-29 02:31] luanshixia opened #318 "IFormFile.OpenReadStream() causes BindModelAsync() never return to actions"
I have written a model binder for file uploading, like

[code]

No error found but after execution the context is not given back to my actions. But if I comment the line of `OpenReadStream()`, the action can be entered.

[2015-05-29 02:35] davidfowl commented on #318
@luanshixia Can you provide a repro project or minimal code sample?

[2015-05-29 04:31] anfomin commented on #315
Every character encoding brings another problems. Sometimes we use `<script>` generation in razor pages like:

[code]

So JavaScript will not decode this value and will display unicode numbers.

[2015-05-29 05:41] luanshixia commented on #318
@davidfowl You can use the following code.

##### HomeController.cs

[code]

##### ImportSource.cs

[code]

##### ImportSourceModelBinder.cs

[code]

[2015-05-29 05:42] davidfowl commented on #318
@luanshixia How about some repro steps to go with that sample? Put it all together for me.

[2015-05-29 05:43] luanshixia commented on #318
@davidfowl Still working on that...

[2015-05-29 06:21] luanshixia commented on #318
@davidfowl Use the following repro steps.

1. Download [project](http://1drv.ms/1eBRqDl) from OneDrive and unzip.

2. Set a breakpoint at HomeController.cs line 63.

3. Run it, navigate to /home/import, and upload a file.

4. Step through BindModelAsync(), notice: no error, but cannot go into action Import(), response is timeout error page.

5. Comment line 70 and run again. Notice: this time can

[2015-05-29 06:21] davidfowl commented on #318
@luanshixia Anyway you could put this sample on github somewhere?

[2015-05-29 06:39] luanshixia commented on #318
@davidfowl https://github.com/luanshixia/ProjectCollection/tree/master/IssueSamples/UploadFile

[2015-05-29 07:15] kichalla commented on #318
@luanshixia Thanks for the nice repro....following is what I had found

- From the below exception stack trace it appears that MVC is validating your model after it has been bound...so in the case where your are populating the property with the stream, the following exception happens as MVC is probing the properties on Stream for validation and in the case where you commented out, it works as the

[2015-05-29 07:22] #318 closed

[2015-05-29 07:24] luanshixia commented on #318
Thanks @kichalla , your explain make me understand the point.

I have tried something else to avoid the issue: replacing `Stream` with `byte[]`. By doing so there are no validation issues, but there would be a several seconds' delay between the model binding phase and the action. Any comments on this? Is this a suggested way?

[2015-05-29 12:03] blowdart commented on #315
Don't do that for javascript. It's simply wrong.

@ encoding is HTML encoding. It's not JavaScript encoding. Using HTML encoding inside javascript means some of the characters that can cause javascript injection are not encoded.

The most full proof way to inject variable values into javascript is to have a div or span or other tag, and use a data attribute - using @ encoding there is correct, and

[2015-05-29 12:56] kichalla commented on #318
@luanshixia : yes replacing with `byte[]` is another option...curious, what you intend to do with the filename and byte array properties in the end?...do you plan to copy this content later (to a local file stream or some other stream)? if yes, I think reading into byte array and then copying is inefficient...
Regarding your observation about no validation issues...yes, we exclude `byte[]`(or the

[2015-05-29 14:34] anfomin commented on #315
@blowdart OK, this it good explanation not to use `@` with JS. But encoded-text increase page size 7 times (each character converted into 7). I do not think this is good behavior by default.

Also there is no attack can be done using Russian or any other language characters so they do not require HTML encoding. This characters do not have any "special" behavior compared to english ones.

[2015-05-29 14:43] blowdart commented on #315
Actually you can attack via some characters depending on the underlying page encoding and other badness. Utf7 is a great example of this - http://openmya.hacker.jp/hasegawa/public/20071107/s6/h6.html?file=datae.txt has some details.

We're discussing internally what we want to do - but the encoders are used by things other than razor, and defaulting to encoding everything over and above ASCII is w

[2015-05-29 16:22] dougbu commented on #315
Note setting `HtmlEncoder.Default` is likely not what you want. That changes only the HTML encoder, leaving the JavaScript and URL encoders with their (ASCII) defaults.

Recommend
[code]
because (today) nothing configures `WebEncoderOptions` but much of the system adds the web encoders.

[2015-05-29 19:20] Tratcher opened #320 "Rename response.HeadersSent to response.HasStarted"
On `IHttpResponseFeature` and `HttpResponse` there is a `HeadersSent` property. The name is somewhat misleading though. 1. It's not just the headers, the status code and reason phrase are also sent, and 2. for Helios (and soon WebListener) there is write-behind buffering such that the response is not actually sent, but the status code and headers can no longer be modified.

Proposal: Rename `Heade

[2015-06-01 02:46] jchadwick commented on #245
I use it in every one of my projects, however only for this purpose:
[code]

In other words, I only use it for views and this is always going to be an XHR making this request.

Perhaps we just need a better/smarter way to do partial view rendering from the same controller action.

...or maybe we already do and I'm not aware of it yet?

[2015-06-01 03:27] Alxandr commented on #245
Or just create a simple extension method in your project that suits your needs. So it checks in whatever way is required to check, depending on what you do on the client.

[2015-06-01 03:30] jchadwick commented on #245
Right, of course I can create my own extension method.  The same could be said for any extension method in the API...

The point here is that this is existing functionality that is still relevant in some form, even if it doesn't cover every use case.

[2015-06-01 03:34] Alxandr commented on #245
True, but I argue that if it's going to not be working half of the time depending on what client side framework is used to send the request, it will only cause confusion in the long run.

[2015-06-01 03:37] jchadwick commented on #245
If that's the case, that's totally fair.  I think that would be the reason not to carry it forward.
...If that's the case.  :)  I personally don't think it is, but I'm willing to be proven wrong.

[2015-06-01 03:38] Alxandr commented on #245
A lot of users will see a method called  IsAjaxRequest and will just expect it to work, without having any idea how ajax requests are detected. And when it doesn't work, it'll be considered a bug, or lead to hours spent by an unfortunate user trying to figure out what he did wrong.

[2015-06-01 03:39] Alxandr commented on #245
Note: I'm speaking on the assumption that fetch does indeed not set the header.

[2015-06-01 05:08] Bartmax commented on #245
Semantically speaking, is fetch an AJAX request? I guess that since fetch is not here yet, there can be a `IsAjaxRequest` method that checks for the header and when the future became the present it should be an easy nuget update, may even not call it Ajax anymore. Either way, I created an issue on their repo so we can gather ideas/thoughts from there.

[2015-06-01 08:49] glen-84 commented on #245
I'm using PJAX now, but it's also a case of checking a header, so I do this in `_ViewStart.cshtml`:

[code]

The contents of `Pjax.cshtml`:

[code]

Related:
- https://github.com/github/fetch/issues/17
- https://esdiscuss.org/topic/2-questions-about-es6-module-loaders

[2015-06-01 15:01] Bartmax opened #321 "Misleading error information on middleware"
when having a custom middleware before (for example) mvc, when there's a mvc error, the error message is misleading because it point to your await next(context) line on your middleware.

error example
[code]

and down the stack I can see an error in a cshtml file.

[code]

Is there anyway to improve this?
I understand why this is happening but I think it's confusing to point a mvc error to a middl

[2015-06-01 17:51] Tratcher commented on #321
Is it just showing the sources for the first stack frame where it can find symbols/sources? I.e. if you pull down the MVC symbols/sources does it start showing the location of the error more accurately?

[2015-06-02 06:26] Bartmax commented on #321
@Tratcher yes, you are right. I'm not using MVC sources, I'm using custom middleware authored by myself. I don't think there's something one can do about it.

[2015-06-03 07:36] Bartmax opened #322 "Uri.UriSchemeHttps missing on coreclr"
The const "https" is no longer on `Uri.UriSchemeHttps`.
Looking at the code I see there's a "https" const but it's internal.

Is this defined for consumers to use anywhere? Will be?

[2015-06-03 17:29] muratg commented on #322
This bug be filed on https://github.com/dotnet/corefx/ instead?

[2015-06-03 17:30] Tratcher commented on #322
Uri.UriSchemeHttps is not coming back. I don't know if we'd expose our own constant for it.

[2015-06-05 07:39] davidfowl commented on #320
OnResponseStarted, OnResponseCompleted

/cc @lodejard @muratg This looks like something we'd want to do for beta 6

[2015-06-05 13:24] Tratcher commented on #320
I recommend OnResponseStarting over Started as this event is your last chance to make modifications. Once it HasStarted the response fields become read-only. Note that before it was OnSendingHeaders, not OnHeadersSent.

[2015-06-07 07:38] davidfowl commented on #322
Personally I think it's pointless. The string literal `"https"` is fine.

[2015-06-07 07:39] #317 closed

[2015-06-07 08:03] Bartmax commented on #322
perfect! thanks.

[2015-06-07 08:03] #322 closed

[2015-06-07 09:59] davidfowl commented on #279
@Tratcher wasn't this done?

[2015-06-07 14:12] #279 closed

[2015-06-08 17:52] davidfowl opened #325 "Revisit Abstractions -> Features layering"

[2015-06-08 17:56] Tratcher commented on #325
Any specific concerns?

[2015-06-08 18:14] davidfowl commented on #325
Unnecessary coupling in order to reuse types. We just need to validate that the people using HttpAbstractions, always want the features. I'm not sure about that yet.

[2015-06-08 18:15] Tratcher commented on #325
In theory you can't implement Abstractions without Features, even if there is not a direct dependency. See `GetFeature<T>()`

[2015-06-08 18:18] davidfowl commented on #325
It's not about implementing Abstractions, it's about the consumers of Abstractions getting features by default.

[2015-06-09 05:26] #12 closed

[2015-06-09 05:27] #14 closed

[2015-06-09 13:54] darrelmiller commented on #325
Do you mean like this?
public abstract IReadableStringCollection Cookies { get; set; }

Why must an implementer implement Cookies? Why is Cookies special?  Why not Authorization? Or UserAgent?
As an implementer am I required to duplicate Cookies in Headers? Do they need to be kept in sync?  There are many questions introduced by this overlap.

In a similar vein, why is it required for an HttpAbstr

[2015-06-09 19:45] davidfowl commented on #325
Nope, not like that. That sounds like you have a problem with the general shape of the abstractions (whic I don't :smile:). I'm talking about the feature interfaces being coupled to the abstractions themselves.

This abstractions are a mix of things we used to have on the OwinContext and System.Web http context. Sure it's not pure but that's not the point of it. It's about convenience. Also, if yo

[2015-06-11 08:01] davidfowl commented on #321
Can you provide a repro project?

[2015-06-11 08:01] davidfowl commented on #313
@Tratcher sure

[2015-06-11 08:01] davidfowl commented on #268
Yes this be a dupe :smile:

[2015-06-11 08:02] davidfowl commented on #262
This was fixed

[2015-06-11 08:02] #262 closed

[2015-06-11 08:03] davidfowl commented on #261
@muratg beta6?

[2015-06-11 08:05] davidfowl commented on #119
Moving this to beta6

[2015-06-11 16:24] Bartmax commented on #321
No, I tried, but I cannot repro using beta4.

This was happening to me on beta3 (unfortunately I don't have the exactly state where this was happening), maybe this is handled differently now ?

[2015-06-11 19:11] Tratcher commented on #195
I think this was handled by #160.

[2015-06-11 19:12] #268 closed

[2015-06-12 16:08] muratg commented on #261
Any ideas where this should go?  We probably should not complicate rest of the dependency chain too much in order to remove Http.Core dependency from MVC.  Putting this in Beta 6 for now.

[2015-06-12 17:23] #195 closed

[2015-06-12 17:28] Tratcher commented on #197
That scenario sounds like a long-running background task. It's not clear why you would hook that up to request events at all.

[2015-06-12 17:36] Tratcher commented on #250
@BrennanConroy Please try to repro this and file a mono bug accordingly.

[2015-06-12 17:38] #284 closed

[2015-06-12 17:39] #288 closed

[2015-06-12 17:40] #308 closed

[2015-06-12 17:44] #321 closed

[2015-06-12 23:16] #320 closed

[2015-06-13 19:26] davidfowl commented on #240
On top of this, we should enumerate the set of known headers and optimize the setting/getting of them.

[2015-06-15 18:40] Tratcher commented on #313
IApplicationBuilder.ApplicationServices is used frequently.

HttpContext.ApplicationServices is only referenced once outside of tests:
https://github.com/aspnet/Diagnostics/blob/3fa5dee2d7f377d57e75fbb0d328cd26b6ff093a/src/Microsoft.AspNet.Diagnostics/Views/BaseView.cs#L56

HttpContext.RequestServices is used very frequently, especially in MVC.

[2015-06-18 14:20] kspearrin opened #331 "Allow Null params to middleware constructor?"
I want to do this from `Startup.cs`:

[code]

`MyMiddleware` looks like this:

[code]

Yet I keep getting:

How do I pass additional parameters in my middleware constructor?

[2015-06-18 17:49] Tratcher commented on #331
Hmm, that should work. What package and dnx versions are you using?

[2015-06-18 17:51] kspearrin commented on #331
beta4 and DNX 4.5.1

[2015-06-18 17:53] Tratcher commented on #331
Can you try it with beta5 or beta6?

[2015-06-18 18:38] kspearrin commented on #331
Got it working in beta4. Turns out `foo` can't be `null`.

[2015-06-18 23:24] #310 closed

[2015-06-19 14:01] Tratcher commented on #331
@davidfowl This still seems like a bug, parameters won't always have values, especailly since we don't support multiple constructors yet do we?

[2015-06-19 15:04] davidfowl commented on #331
Hmmm, we want to support passing in null ctors args?

[2015-06-19 15:20] Tratcher commented on #331
It's a valid scenario, especially for testing. I only wonder how hard it is to support.

[2015-06-19 22:44] Tratcher commented on #182
I wouldn't want to change the namespace without also changing the package.  Maybe we could put it in the Microsoft.AspNet.Http.Abstractions package and the Http namespace?

I noticed that very few of the linked samples referenced the Microsoft.AspNet.Http namespace either, so moving there doesn't really save you anything.

I'd like to put it into Microsoft.Net.Http, but I don't think they'd go for

[2015-06-19 22:47] Tratcher commented on #182
Or should we rename this package to Http.Utilities?

[2015-06-20 02:05] davidfowl commented on #331
I'm not convinced as we don't do this anywhere that we ctor inject but I'll leave it open for now

[2015-06-22 18:26] HaoK opened #333 "IHttpResponseFeature needs documentation"

[2015-06-23 16:04] BrennanConroy commented on #250
1abb33d4bc3748782de554a0d90e37c19fd21733

[2015-06-23 16:04] #250 closed

[2015-06-23 22:19] Tratcher commented on #245
@DamianEdwards "Yes, I’ve certainly used it in the past. Previously it was based on a request header that jQuery added, but we should research if that’s still the best approach. If jQuery is really the only framework that adds a header, we could decide that this doesn’t belong in the framework at all and instead we could just document it as a sample, but I’d like to see data before making that cal

[2015-06-24 17:17] #236 closed

[2015-06-25 16:38] Tratcher commented on #177
@rynowak

[2015-06-25 16:38] #177 closed

[2015-06-25 17:35] muratg commented on #238
@sornaks are you working on this for Beta 6?

[2015-06-26 17:19] HaoK commented on #213
AuthenticationResult is nuked now

[2015-06-26 17:19] #213 closed

[2015-06-28 07:24] davidfowl opened #336 "Rename OnCompletedDispose to RegisterForDispose"
It maps to what we had before in both WebAPI and System.Web https://msdn.microsoft.com/en-us/library/system.web.webpages.httpcontextextensions.registerfordispose(v=vs.111).aspx. It sounds better and OnCompletedDispose just sounds wrong :smile:

We may also want to consider making it an extension method.

/cc @HaoK @Tratcher

[2015-06-29 16:32] muratg commented on #261
@Tratcher @davidfowl Let's discuss this in today's design meeting and reach a decision.

[2015-06-29 18:45] HaoK commented on #331
I've run into this issue before specifically with named options and auth middleware, I had to do ugly passing in string.empty since it wouldn't allow passing in null strings...

[2015-06-29 19:05] HaoK commented on #42
@blowdart how important is this for beta 6 (i.e. do we need this now?)

[2015-06-29 19:09] blowdart commented on #42
It's a big security regression, so it would be really really nice to have as soon as possible, but I leave the exact release to your discretion. If you have time now, then please do now.

[2015-06-29 19:14] HaoK commented on #42
Ok I will try to take a look this week

[2015-06-29 22:14] Tratcher commented on #313
`httpContext.GetFeature<IServiceProvidersFeature>().RequestServices`

[2015-06-29 22:18] #289 closed

[2015-06-29 22:20] Tratcher commented on #297
Yes, merge it.

[2015-06-29 22:31] Tratcher commented on #261
@rynowak, @davidfowl & co say we need to refactor MVC instead.

[2015-06-29 22:35] sornaks commented on #238
@muratg - yes. sent a PR.

[2015-06-29 22:37] Tratcher commented on #188
Mostly fixed by @mikaelm12, and we're fine with Invoke.

[2015-06-29 22:37] #188 closed

[2015-06-29 22:44] Tratcher commented on #182
Put it in Http.Abstractions package and Http namespace.

[2015-06-29 22:47] Tratcher commented on #42
Preference for making this a middleware rather than embedding it in hosting.

[2015-06-29 23:49] hishamco opened #338 "Fix exception parameter name in WebSocketAdapter.CleanupAsync"
This raised according this issue https://github.com/aspnet/WebSockets/issues/44

[2015-06-29 23:53] hishamco commented on #338
Closed beacuse @Tratcher convert it to ```NotSupportedException```

[2015-06-29 23:53] #338 closed

[2015-06-30 06:43] rynowak commented on #261
Cool, let's catch up around this soon. The thing that we're using this for is to create an empty `FormCollection` in model binding when there's no form data, but the user declares an `IFormCollection` parameter.

[2015-06-30 06:45] davidfowl commented on #261
@rynowak I have a PR ready for this change and I actually think that's bad behavior but lets discuss on the PR

[2015-06-30 12:14] blowdart commented on #42
Added suggestion - why not change the cookie class to make cookies http only for default, and make them "secure" by default if the request is over https.

[2015-07-01 17:12] muratg commented on #261
Fowler, please feel free to close as the decision in the design meeting was wontfix'ing this. Since you are still discussing with Ryan, keeping it open.

[2015-07-01 17:55] ardalis opened #339 "NotImplementedExceptions in FeatureCollection"
Why does FeatureCollection have NotImplementedExceptions when it is implementing IFeatureCollection, for which one would expect perfect parity? If there are parts of that interface that FeatureCollection doesn't use, why are they on the interface?

[2015-07-01 18:06] davidfowl commented on #339
NotImplementedException is most likely wrong and should be not supported exception.

[2015-07-01 18:13] ardalis commented on #339
I'm not sure that's an improvement. Why not adjust IFeatureCollection, which is literally in the same project and folder, to match FeatureCollection's capabilities (or vice versa). Yes, IFeatureCollection inherits from a collection interface, but if that collection interface has too many features, choose a different collection interface to inherit from. Otherwise this is violating Liskov Substitut

[2015-07-01 18:59] Tratcher commented on #339
Those methods are all inherited from IDictionary. They weren't implemented because nobody needed them yet. We never attempt to consume the collection as an IDictionary and I don't think we need anything beyond TryGetValue and Set/indexer.

Recommendation: Remove IDictionary from IFeatureCollection and just add the methods we need.

[2015-07-01 19:04] ardalis commented on #339
@Tratcher +1 to your recommendation.

[2015-07-02 17:28] muratg commented on #339
Makes sense to me too.

[2015-07-03 05:28] davidfowl commented on #336
lets move this into beta6 and assign to @HaoK

[2015-07-06 22:59] muratg opened #341 "New method: HttpRequest.GetFullUrl"
Add a new extension method HttpRequest (GetFullUrl) that returns a string.

- GetEncodedUrl
- GetDecodedUrl

[2015-07-07 20:10] blowdart opened #342 "Adding a querystring to a pathstring can end up with a pathstring."
Consider the following

[code]

This works because of the implicit string conversions, but you end up with something that is no longer a true PathString, but a path with a querystring embedded in it.

[2015-07-08 03:37] Tratcher commented on #341
We've won't-fixed this request a few times already. What's different now?
#110, #308

[2015-07-08 03:44] davidfowl commented on #341
1. It's commonly asked for
2. It's a string so we avoid all of the Uri problems with round tripping

[2015-07-08 04:00] Tratcher commented on #342
It's not the `Add` that breaks here, it's the `=`. `PathString.Add(QueryString)` returns a plain `string` (encoded), which is then implicitly converted back to a PathString for the `=` operator.

[2015-07-08 04:01] Tratcher commented on #342
Simplified example:
[code]

[2015-07-08 04:06] Tratcher commented on #341
No, we still have many of the round tripping problems.  What format should all of the components be in? Human readable or encoded for use in headers? I suspect you need at least two methods.

[2015-07-08 04:14] davidfowl commented on #341
Not sure why we'd have roundtripping problems. It's just a concat of the parts of the URL that we already have

[2015-07-08 06:02] Tratcher commented on #341
The values have already been processed by multiple layers and are in different formats. e.g. Paths are unescaped, query is still escaped, who knows what state the Host is in, etc.. Just concatenating them back together gives you a Frankenstein url. You have to consider both the current format of the data and the desired format/usage of the result.

This is one of the reasons we haven't done this.

[2015-07-08 07:53] borgdylan commented on #341
Would this include the query string as well? While developing I print each request path to the console to make sure stuff gets called by JS. Having the query string as well would be nice.

[2015-07-08 13:27] blowdart commented on #342
Yea, that should probably get rejected, unless you're going to escape the ?, which is probably not what people expect.

[2015-07-08 16:57] Tratcher commented on #182
@rynowak Can you handle your own cleanup for this?

[2015-07-08 16:57] #182 closed

[2015-07-08 18:19] rynowak opened #343 "Reading the Form data goes to disk every time"
Found while profiling simple model binding scenarios in MVC

`BufferingHelper.EnableRewind` will do a check for the existence of the temp directly on each request, even when there isn't enough data to force a write to disk.
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http/BufferingHelper.cs#L40

Discussed with @Tratcher - we can have this wait until a write is actually

[2015-07-08 18:21] rynowak commented on #343
![image](https://cloud.githubusercontent.com/assets/1430011/8578381/5fbbeb52-2563-11e5-8293-8702f15af08f.png)

In the context of this profile - 100% means the time inside Middleware (includes Files, Routing, MVC). Fully 20% of the app's time is spent enabling buffering for about 50 char of text.

[2015-07-09 13:38] TomGroeneboer commented on #341
I think you can get the querystring with `HttpContext.GetFeature<IHttpRequestFeature>() ` https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Features/IHttpRequestFeature.cs

[2015-07-09 15:11] Tratcher commented on #341
@TomGroeneboer You can get it from `HttpContext.Request.QueryString`.

[2015-07-09 23:24] sornaks commented on #238
Checked in. https://github.com/aspnet/HttpAbstractions/commit/25ea93de9e03f1b0be8922bf727163f8ac3be499

[2015-07-09 23:24] #238 closed

[2015-07-10 07:49] davidfowl commented on #343
The CreateTempFile() in FileBufferingReadStream should do this work.

[2015-07-10 07:53] TomGroeneboer opened #346 "Replacements for HttpResponse.End() and .Flush()"
Hi guys,

Is there going to be a replacement for HttpResponse.End()? And .Flush()? I can't find them anymore, did they move anywhere?

Thanks!

[2015-07-10 07:56] davidfowl commented on #346
There is no replacement for Response.End() (We don't thread abort anymore) and Response.Body.Flush() might not do what you expect. Some servers don't buffer anything by default, so Write actually is writing to the underlying network without a call to flush. There's still an open workitem on our plate to revisit how response buffering will work in ASP.NET 5.

[2015-07-10 07:59] TomGroeneboer commented on #346
Alright thanks! So the 'flushing'  is going automatically?

[2015-07-10 12:01] brockallen commented on #238
Would it make more sense to have a separate API called AddHashFragment?

[2015-07-10 15:33] Tratcher commented on #238
@brockallen We're not trying to add a hash, we're trying to append query params to a url that may already have a hash.

[2015-07-10 15:49] Tratcher commented on #346
Flushing is only guaranteed at the end of a response. HttpResponse.Body.Write(...) will usually cause the response to be sent, but HttpResponse.Body.Flush() should force it.

[2015-07-10 15:53] Tratcher commented on #343
Or change BufferingHelper.TempDirectory to cache. It's not like this is going to change much. It's the Directory.Exists check that's showing up in the profiles.

[2015-07-10 16:51] davidfowl commented on #343
I still think it should be lazy. Do both things. I'm not sure why it would even throw unless you actually needed to write to that directory.

[2015-07-10 17:29] brockallen commented on #238
Ah, got ya.

[2015-07-13 07:30] TomGroeneboer opened #347 "HtmlDecode"
Hi guys,

I'm missing the HtmlDecode() function :( I can find the HtmlEncode, but where is the HtmlDecode?

Thanks!

[2015-07-13 07:31] TomGroeneboer commented on #346
Thanks! I'll replace the HttpResponse.Flush() with HttpResponse.Body.Flush() :)

[2015-07-13 07:31] #346 closed

[2015-07-13 07:34] davidfowl commented on #346
@TomGroeneboer it would be good to see how you are using it.

[2015-07-13 10:24] TomGroeneboer commented on #346
When I export some big files I want to give the users a response. I know it can be done by using SignalR and AJAX, but that's to complicated for my situation. During the exporting, I Flush() some messages to the client.

[2015-07-13 17:27] muratg commented on #261
@davidfowl If this is to be changed, please remove wontfix label. Otherwise I'll close this one soon.

[2015-07-13 17:34] muratg commented on #347
@Tratcher

[2015-07-13 17:39] Tratcher commented on #347
They're right, we didn't do any decoders, only encoders.

@TomGroeneboer where do you need to decode HTML?

[2015-07-13 17:41] Tratcher commented on #347
Also, have you tried WebUtility.HtmlDecode (System.Runtime.Extensions CoreCLR package)?

[2015-07-13 17:52] muratg commented on #347
Yeah, I wasn't sure about the scenario either... WebUtility (and HttpUtility too I believe) have this method but not sure where it's needed.

[2015-07-13 19:40] HaoK commented on #336
bf1b188e9f48a412be435f8a5baeb0f28106ba95

[2015-07-13 19:40] #336 closed

[2015-07-13 19:41] HaoK commented on #336
d142160f470178e1044dd6e94a4043117479c195

[2015-07-13 21:09] HaoK commented on #42
Not going to happen for beta 6 at this point

[2015-07-13 22:42] #124 closed

[2015-07-14 09:23] TomGroeneboer opened #348 "HttpResponse.Charset"
Hi guys,

I'm missing the HttpResponse.Charset value in ASP.NET 5. Is it going to be there? Or is there another method to set the Charset?

Thanks!

[2015-07-14 10:12] TomGroeneboer opened #349 "HttpRequest.Cookies is not RequestCookiesCollection?"
Hi guys,

I have a question, why is HttpRequest.Cookies an IReadableStringCollection and not a RequestCookiesCollection. It would be very convenient if it was, accessing properties of cookies is way easier.

Or am I missing the way to convert the IReadableStringCollection to RequestCookiesCollection?

Thanks!

[2015-07-14 13:08] Tratcher commented on #349
Properties of cookies? Request cookies don't have properties, only a key and value.

[2015-07-14 13:14] Tratcher commented on #348
Charset (e.g. `utf-8`) is a sub-field of the content-type header (e.g. `text/plain; charset=utf-8`) and can be set using the ContentType property. If you want a little more structure you can use `httpResponse.GetTypedHeaders().ContentType = new MediaTypeHeaderValue("text/plain") { Charset = "utf-8" }` (see Http.Extensions).

[2015-07-14 14:59] TomGroeneboer commented on #349
In previous versions we could retrieve the `Expires` value

[2015-07-14 15:19] Tratcher commented on #349
There is no such field for a request cookie, it only exists on a response cookie.

Are these the old APIs you're referencing?
https://msdn.microsoft.com/en-us/library/system.web.httprequest.cookies(v=vs.110).aspx
"After you add a cookie by using the HttpResponse.Cookies collection, the cookie is immediately available in the HttpRequest.Cookies collection, even if the response has not been sent to

[2015-07-14 17:26] muratg commented on #347
@TomGroeneboer closing this one for now. If `WebUtility.HtmlDecode` doesn't work for you, please feel free to bring the discussion back.

[2015-07-14 17:26] #347 closed

[2015-07-14 18:03] muratg commented on #99
@davidfowl Do we need another API review for HttpAbstractions?

[2015-07-15 07:12] TomGroeneboer commented on #348
Hmm I understand. Alright thanks!

[2015-07-15 07:12] #348 closed

[2015-07-15 11:35] TomGroeneboer commented on #349
Oh sorry, you're right. I had a wrong ref in there! Thanks man!

[2015-07-15 11:35] #349 closed

[2015-07-16 16:37] muratg commented on #261
Closing.

[2015-07-16 16:37] #261 closed

[2015-07-16 22:36] #297 closed

[2015-07-17 21:14] #313 closed

[2015-07-17 21:15] anurse commented on #99
This will be covered by aspnet/Hosting#299 (according to @davidfowl)

[2015-07-19 08:44] davidfowl opened #351 "MapMiddleware should support rejoining the parent pipeline"
Right now the MapMiddleware either takes the branch or calls next. There should be an option to fallback to the parent pipeline (or maybe that should just be the default), instead of getting a child appbuilder with a 404 by default.

/cc @Tratcher @DamianEdwards

[2015-07-19 08:45] davidfowl commented on #339
/cc @lodejard

[2015-07-19 08:46] davidfowl commented on #339
@Tratcher We want to preserve enumeration also.

[2015-07-19 08:49] davidfowl opened #352 "Possible FormFileCollection optimizations"
- Avoid closure by looping over files instead of using Find and FindAll.
- Cache parsing of ContentDisposition header

[2015-07-19 08:51] davidfowl commented on #309
I actually thing we shouldn't do this. HttpConnection sounds fine even though it's not 100% accurate.

[2015-07-19 08:52] #99 closed

[2015-07-19 09:27] lodejard commented on #339
Yep, it started as a get/set interface and dictionary was added when enumeration was needed. Out of curiosity, would it make sense to implement the idictionary interface instead of declaring a get/set/enumerable subset?

[2015-07-20 17:34] muratg commented on #351
Sounds like a good idea. 1.0.0 backlog for now.

[2015-07-22 16:39] brockallen commented on #265
Were these removed just to reduce the API surface area and/or for simplicity, or was there some larger reason?

[2015-07-22 16:40] davidfowl commented on #265
Simplicity and usability.

[2015-07-22 23:24] halter73 opened #353 "Make a wrapper IFeatureCollection implementation of IDictionary<Type,Object> that switches on well-known interface types"
We could do something similar to what @loudej did for the [Kestrel header dictionaries](https://github.com/aspnet/KestrelHttpServer/commit/dfd412bab513e40dd634871fbcf689304e5938cd) for FeatureCollection.

![profile](https://cloud.githubusercontent.com/assets/54385/8839740/87c41374-308d-11e5-90db-7147a4cdf56f.jpg)

[2015-07-24 14:19] wizarrc opened #354 "MapMiddleware Map function adds filter to base path, breaking compat with previous version"
Looks like the initial port from issue #20 is not backwards compatible. It adds the PathMatch to the PathBase. This seems to break everything MVC based from my experience. I think it would make sense to add the PathMatch to path instead.

context.Request.PathBase = pathBase + _options.PathMatch;
context.Request.Path = remainingPath;

Was this intended? Is there another way to setup MVC with this p

[2015-07-24 17:46] muratg commented on #354
@wizarrc you mean not backwards compatible with MVC 4?

[2015-07-24 18:20] wizarrc commented on #354
@muratg no, I was referring to it not working with MVC 6 where it worked in MVC 5. I had logic in place to apply app.UseMvc inside an app.Map call where it causes all sorts of issues with routing. When a UseMVC call is inside a Map function, all my routing is changed to be a base of the matching path. This behavior never happened in MVC 5. If I apply UseMvc outside of  the Map function, routing wo

[2015-07-24 19:38] wizarrc commented on #354
I forgot to point out that in MVC 5, the flow was to register the mvc routes first, then you could configure authentication based on per route using map. It appears that if you try to do that in AspNet 5, MVC6, it will present you with the error upon signing in using Identity: "The following authentication scheme was not accepted: Microsoft.AspNet.Identity.Application".

I believe if I could add U

[2015-07-26 04:56] Tratcher commented on #339
IDictionary has 10x more functionality/complexity than we need. This collection is also never exposed directly to the application, it only exists between the server and Hosting/DefaultHttpContext. I'm drafting a subset API list now, but so far the only APIs we actually use are Get and Set. Enumeration is a nice to have, but it's not actually used anywhere or available to the app.

Keeping the surf

[2015-07-26 04:57] Tratcher commented on #353
Yes. Note that https://github.com/aspnet/HttpAbstractions/issues/339 proposes restricting the surface area down from a full IDictionary, so this shouldn't be nearly as complicated as the header collections.

[2015-07-26 04:58] Tratcher commented on #353
Oh, and this shouldn't be a wrapper around IFeatureCollection, it should be done in the default FeatureCollection implementation.

[2015-07-27 00:10] lodejard commented on #339
I agree, but lets keep enumeration (of Type) available to support diagnostic scenarios of displaying all features and writing out all reflected properties.

Sent from mobile device
________________________________
From: Chris R<mailto:notifications@github.com>
Sent: ‎7/‎25/‎2015 9:56 PM
To: aspnet/HttpAbstractions<mailto:HttpAbstractions@noreply.github.com>
Cc: Louis DeJardin<mailto:lodejard@micro

[2015-07-28 15:17] Tratcher commented on #351
We've theorized about this since the first days of Katana, but nobody has ever actually asked for it.

I think you'd want it to be a distinct keyword rather than just an option because of how much it changes the semantics.

[2015-07-28 15:29] r2musings opened #355 "AuthenticationManager.SignOutAsync broken in beta6?"
In beta4, I was able to logout a user with Context.Response.SignOut(..).  This method did not appear exist in beta6.  So, I switched over to Context.Authentication.SignOutAsync(..) and instead of logging the user out and dropping them on the Office 365 login page as I was expecting, it just throws them back to the Home page still logged in.

Is SignOut broken or should I be doing it a different wa

[2015-07-28 16:44] Tratcher commented on #355
This issue was moved to aspnet/Security#378

[2015-07-28 16:44] #355 closed

[2015-07-28 17:09] Tratcher commented on #354
You can have multiple authentication types in the same pipeline, you don't need to use map the separate them. It's better to use the Authorize attribute and authorization policies in MVC to mark your controllers and routs.

[2015-07-28 18:55] wizarrc commented on #354
If I remember correctly, back in MVC5 days, Identity Framework and Windows Authentication would not play nice together with Authentication. If Windows Authentication was used in the pipeline, it wouldn't let Identity later authenticate without cleaver hacks. The path of least resistance appeared to be to use the map function. There were also a problem that would arise due to an old IE perf optimiz

[2015-07-28 19:16] Tratcher commented on #354
We've done quite a bit of work to make them play better together. Try it with the beta6 bits. If you still have trouble I recommend opening an issue in the Security repo so we can get it straitened out.

[2015-07-28 19:51] wizarrc commented on #354
@Tratcher Good to hear. Will have to try it out. But that still doesn't answer the original post. What is the reasoning behind changing the base path with map? What benefit does it provide? By definition, the base path is the application root folder, not the new branch root folder. I think at the very least it should be well documented on what it is doing and how it can affect all the requests goi

[2015-07-28 20:54] Tratcher commented on #354
Map is considered to break your application into sub apps, each with their own PathBase and request processing pipeline. Inside of those sub-apps you no longer need to consider that matched portion of the path in any of your operations. Hence if I configure MVC inside of a Map("/MVC",...)  I do not include "/MVC" in the definition of every route. The StaticFiles and Authentication middleware get s

[2015-07-30 23:23] Tratcher opened #357 "Fix travis CI"
https://travis-ci.org/aspnet/HttpAbstractions/builds/73077060#L1558

Any project that has `"allowUnsafe": true` in a test project fails on Travis. This happens due to a json parser bug on Mono: https://bugzilla.xamarin.com/show_bug.cgi?id=31136

We could modify Sake to use a different json parser.

[2015-07-31 17:47] glennc commented on #357
@sornaks can you talk to @Tratcher and maybe @pranavkm to work out what we should do here?

[2015-08-03 17:39] sornaks commented on #357
Sure. I'll do that.

[2015-08-03 23:04] #339 closed

[2015-08-04 16:38] Eilon commented on #341
We should re-discuss the names of these. Those the current names are technically correct, I don't believe they will lead to correct usage. The doc comments explain what's what, but I'm sure they'll be often ignored. I recommend perhaps changing `GetDecodedUrl()` to be something more like `GetDisplayUrl()`, or perhaps even getting rid of it entirely.

[2015-08-04 18:27] #341 closed

[2015-08-04 23:20] lodejard opened #360 "Add Response.CanClear and Response.Clear()"
[code]

[2015-08-04 23:22] lodejard opened #361 "Add StringValues struct for collections"
Streamlines all of the cases where string,string[] collections cause friction

Also has side-effect of reducing number of allocations per request

[2015-08-04 23:30] Tratcher commented on #361
What did the CLR team have to say about this?

Also, layering. Ideally this type would be in a BCL package, not one of ours.

[2015-08-04 23:31] Tratcher commented on #360
I think they'd go into Microsoft.AspNet.Http.Extensions.

[2015-08-05 16:32] Eilon commented on #361
As with many types, we should start out with our own and see where it goes.

[2015-08-05 16:33] davidfowl commented on #361
+1

[2015-08-05 18:53] lodejard commented on #361
I'm not sure this is *necessarily* a BCL/CLR asset, we certainly don't need to be gated by that for packaged code. Nothing else in HttpAbstractions and web server feature interfaces was punched down that far.

[2015-08-05 19:01] davidfowl commented on #361
@Tratcher is concerned because of the layering of WebListener. The lower layer doesn't depend on anything except bcl types today

[2015-08-05 19:13] Eilon commented on #361
WebListener is a DNX-only component in practice, but either way, having it depend on another package is really not so bad.

[2015-08-05 21:15] Tratcher commented on #361
@lodejard Do you have your prototype code in a branch? Or paste it here?

[2015-08-06 04:24] Daniel15 opened #363 "[Doc comments] How do I get one parameter from a QueryString?"
The QueryString class doesn't seem very useful for handling existing querystrings. You can append new parameters, but how do I get the value of an existing parameter out of it? Why does it not have an indexed accessor?

[2015-08-06 04:27] Tratcher commented on #363
I think you're looking for HttpContext.Request.Query (parsed collection), not QueryString (raw value).

[2015-08-06 04:29] Daniel15 commented on #363
Ahhh. Yep, that sounds right. I guess I should have inferred that "Query**String**" is the raw string, but `Request.QueryString` was the parsed value in older versions.

The xmldoc for Request.QueryString just says  "Gets or set the query string from owin.RequestQueryString." which is not very descriptive ("owin.RequestQueryString" adds no value to the description). Maybe you should add something

[2015-08-06 04:30] davidfowl commented on #363
doc comments need fixing

[2015-08-06 04:52] Daniel15 opened #364 "Response.ContentType doesn't work in MVC controller"
I'm using Razor to generate some XML (an RSS feed). I have this in one of my ASP.NET MVC controllers:
[code]
However IIS Express is still serving the response as text/html.

This doesn't work either:
[code]

However, setting a custom header (eg. `X-Test`) *does* work.

(I wasn't sure whether to report this here or in the ASP.NET MVC repo)

[2015-08-06 05:01] Tratcher commented on #364
@rynowak sounds like an MVC issue.

[2015-08-06 05:41] Eilon commented on #363
@Tratcher can you update the doc comments for better clarity?

[2015-08-06 05:42] Eilon commented on #364
I'm guessing the Razor view engine is overwriting the header (which makes sense - otherwise Razor pages won't work).

@Daniel15 can you try setting the content type header *within* the Razor page?

[2015-08-06 05:50] Daniel15 commented on #364
That does indeed seem to work. I wasn't sure if there's a "proper" way of setting the Content-Type within a Razor page, but `ViewContext.HttpContext.Response.ContentType = "application/rss+xml"` did the trick.

In any case, this seems to be a regression (or an expected change in behaviour?) compared to previous versions. In ASP.NET MVC 5, setting `Response.ContentType` in a controller *does* work,

[2015-08-06 14:50] rynowak commented on #364
You can set this now on the `ViewResult`.

[code]

[2015-08-06 17:35] rynowak opened #365 "Consider making IFormFileCollection read-only"
`IFormCollection` is readonly, `IFormFileCollection` is not.

https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Abstractions/IFormCollection.cs
https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Abstractions/IFormFileCollection.cs

This is a bit of a speedbump for fixing aspnet/Mvc#2527 and would otherwise require us to duplicate the code in `

[2015-08-06 18:05] Tratcher commented on #365
The problem is just that `IFormFileCollection` implements `IList<IFormFile>`, right? You just want something more like IReadableStringCollection?

[2015-08-06 19:03] rynowak commented on #365
preferably `IReadOnlyList<IFormFile`

[2015-08-06 21:54] #309 closed

[2015-08-07 17:38] Tratcher opened #366 "Form reader should rewind buffer after parsing"
Reading the request body as a for fully buffers the body (https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http/Features/FormFeature.cs#L88), but does not rewind after parsing.

After parsing the form, rewind the buffer to the beginning so that if someone else can read the body directly without knowing if they can/should rewind. Here? https://github.com/aspnet/HttpAbstracti

[2015-08-07 17:43] glennc commented on #363
Changing to task to get the doc comments updated.

[2015-08-07 17:44] Tratcher commented on #360
[code]

[2015-08-07 17:49] Eilon commented on #364
My feeling is that this is by design. I would expect a view engine to set the appropriate content type as part of its normal behavior. This may very well be different from previous versions of ASP.NET (and MVC), but this is presumably the more correct behavior.

Thoughts?

[2015-08-07 17:51] Daniel15 commented on #364
That makes sense, but in that case don't forget to add it to the release notes :)

The problem I have with it is that it doesn't throw an error or build warning, it just silently fails. Perhaps the `Response

[2015-08-07 17:53] Daniel15 commented on #364
That makes sense, but in that case don't forget to add it to the release notes :)

The problem I have with it is that it doesn't throw an error or build warning, it just silently fails. Someone upgrading a site may not even notice their responses don't have the right content type any more. Perhaps the `Response` property of the controller could be a wrapper around the real response object, with an

[2015-08-07 18:06] Eilon commented on #364
I wouldn't say it's silently failing. It's succeeding, but perhaps not succeeding at what you want :smile:

The content is being set to whatever you want in the controller.

And then the view engine comes along and sets it to whatever *it* wants (because it's rendering HTML).

I'm not sure there's anything to warn about because all these APIs are doing what they're supposed to do, but they happen

[2015-08-07 18:11] Daniel15 commented on #364
That's true, but it's still a change in behaviour compared to prior versions :smile: While it's a change that does make sense, some people might see it as a regression (and it certainly looks that way the first time you see it happen). Most of the API changes between ASP.NET MVC 5 and 6 completely break the build, which makes it easy to upgrade. This one is moer subtle.

If you search Google for "

[2015-08-07 18:47] rynowak commented on #364
We could also make a change in MVC to set the `Content-Type` to only set the default value if it's unset on the response.

[2015-08-07 20:45] Eilon commented on #364
@rynowak if it's possible to do that reliably then that might be reasonable. But if you recall the discussion around status codes and filters (or whatever that was), it's not necessarily possible.

[2015-08-07 21:14] rynowak commented on #364
It's not possible with StatusCode because we didn't want to make it nullable.

[2015-08-07 21:45] Eilon commented on #364
Yeah I chatted with @Tratcher we should make MVC be not so pushy about the content type.

[2015-08-07 22:01] lodejard commented on #361
yep, https://github.com/aspnet/HttpAbstractions/tree/lodejard/stringvalues

[2015-08-08 05:55] Daniel15 commented on #245
Most frameworks set the `X-Requested-With` header, it's pretty much a de-facto standard. Keep in mind that if you use that request header you need to remember to also send a `Vary: X-Requested-With` response header, as your response varies depending on the value of that header (otherwise, your AJAX responses can be cached and served when you really wanted a full page load, or vice versa). This is

[2015-08-10 17:34] Eilon commented on #364
Moved the bug to MVC: https://github.com/aspnet/Mvc/issues/2947

[2015-08-10 17:34] #364 closed

[2015-08-12 04:50] avanderhoorn commented on #351
I have a use case for this. We want to have `app.Map("/Glimpse", ...)` which dynamically loads various "child" middleware. If none of these deal with the request, I want it to continue on with the users pipeline, we shouldn't steal everything that is under Glimpse.

[2015-08-12 05:36] avanderhoorn commented on #351
With help from @davidfowl, I've done up the following based on the current `app.Map()` implementation - https://gist.github.com/avanderhoorn/00de3272901797060812

[2015-08-12 07:26] davidfowl opened #367 "Should HttpContext implement IFeatureCollection?"
Why doesn't it? It would allow users to enumerate features as well. Although Revision would be kinda weird to expose. Some of the properties could be implicit implementation

[2015-08-12 07:37] davidfowl opened #368 "KeyValueAccumulator performance improvements"
- It allocates 2 dictionaries
- It should probably be a struct

[2015-08-12 15:24] Tratcher commented on #367
I think a direct implementation would be awkward, like the indexer that takes a type and returns an object.  Features are an advanced topic that most users won't ever deal with. Why not just add a `IFeatureCollection Features { get; }` property? And move Get/SetFeature<T> to extensions on IFeatureCollection.

[2015-08-13 20:38] khellang commented on #182
I still think the smurf naming is a bit too much though... `StausCodes.Status200OK`? It wouldn't hurt to leave out the some StatusStatus? :wink:

[2015-08-14 20:16] DamianEdwards opened #370 "Make a wrapper IFeatureCollection implementation that switches on well-known interface types"
Similar to what was done for request headers.

![ifeaturecollection](https://cloud.githubusercontent.com/assets/249088/9283205/b5cf91ca-4286-11e5-897b-ad96ed823044.jpg)

[2015-08-14 22:32] sornaks commented on #357
@pranavkm  is working on the issue tracked here - https://github.com/aspnet/Universe/issues/141

[2015-08-14 22:32] #357 closed

[2015-08-15 19:06] davidfowl commented on #368
Even better would be to make the KeyValueAccumulator a call back model so there was 0 allocation (besides the delegate :smile: )

[2015-08-15 20:33] benaadams opened #371 "Add Api for HTTP/2 PushPromise"
Implement the PushPromise api as virtual NoOp in the abstract class HttpResponse.
## Background

This API is to support applications sending push promises to HTTP 2.0 clients.

[Current .NET v4.6 Api](https://msdn.microsoft.com/en-us/library/dn823340%28v=vs.110%29.aspx)

[code]

**Parameters**
_path_ Type: System.String
The URL of the push request. It should be the virtual path of the relative res

[2015-08-16 05:56] benaadams commented on #371
Additional protocol activation background
* Currently use of http/2 in browsers requires http**s** as none of them have implemented it over http.
* At one point the spec in draft also required ssl/tls; but due to pushback the final spec no longer requires it.
* There doesn't seem to be a huge appetite from browser vendors to implement http/2 over http
* When websockets was implemented there was a

[2015-08-16 22:22] avanderhoorn opened #373 "Whats happening with `OnCompleted` & `OnStarting` on IHttpResponseFeature"
Just wondering what is happening with `OnCompleted` & `OnStarting` on [IHttpResponseFeature](https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http.Features/IHttpResponseFeature.cs#L18-L19). The [default implementation](https://github.com/aspnet/HttpAbstractions/blob/5fe8037281bb826e0708abdcdafbc76571dc21f5/src/Microsoft.AspNet.Http/Features/HttpResponseFeature.cs#L33-L41) c

[2015-08-16 22:43] avanderhoorn opened #374 "IHttpRequestIdentifierFeature using Guid vs string"
Just wondering why `IHttpRequestIdentifierFeature` had its Identifier changed from a `Guid` to a `string`. This means that we can't just take this identifier and use it for storing/grouping the data. We will have to generate our own guid and then keep this around as well for correlation sake with other systems. I can see that the decision was made in #310 but it doesn't go into the why.

// @Tratc

[2015-08-16 23:19] davidfowl commented on #373
They are implemented on the servers. The `HttpContext` is just an abstraction, the features are implemented in the servers themselves (since they are the only ones that actually know when the response starts and completes).

`IHttpContextAccessor` is the only way to get the HttpContext outside of a component that is handing you the `HttpContext` in general.

[2015-08-16 23:20] davidfowl commented on #374
How did you come to that conclusion?

[2015-08-16 23:22] avanderhoorn commented on #374
Well most storage mechanisms have the concept that a Guid is fairly unique and has bounded "constraints" (i.e. its not 10,000 chars long), who knows that the string will contain.

[2015-08-17 07:13] davidfowl commented on #354
@wizarrc did you figure it out?

[2015-08-17 09:02] davidfowl commented on #367
Sounds better.

[2015-08-17 09:05] davidfowl commented on #42
@HaoK lets have a little design meeting before you tackle this.

[2015-08-17 09:27] davidfowl commented on #240
Closing this as dupe of https://github.com/aspnet/HttpAbstractions/issues/361

[2015-08-17 09:27] #240 closed

[2015-08-17 13:26] Tratcher commented on #367
Dropping out of backlog because it involves breaking changes on the abstract base class.

[2015-08-17 13:30] Tratcher commented on #373
You register a state object with your callbacks so you can pass the HttpContext in as/with state. You could also use a closure. IHttpContextAccessor is not required. See:
https://github.com/aspnet/Diagnostics/blob/dev/src/Microsoft.AspNet.Diagnostics/ErrorHandlerMiddleware.cs#L61

[2015-08-17 19:28] avanderhoorn commented on #374
Even though this is designed for logging identifiers rather than correlation across systems, I could still imagine that a use might want to correlate between Glimpse and a log file they have.

[2015-08-18 14:23] tuespetre opened #375 "The placement of ISession and SessionExtensions"
I was just wondering about the placement of these extensions, and for that matter, the `ISession` interface itself... I found them by examining some test source code, but it seems a little unintuitive, as I would expect to be able to add a `using` statement for the `Microsoft.AspNet.Session` namespace to:

1. Inject an `ISession` into a service's constructor
2. Be able to use `SetString`, etc.

In

[2015-08-18 22:39] Tratcher commented on #375
The extensions are in the Http namespace because they will primarily be used directly from HttpContext.Session.
ISession is not a service, it's a per-request resource accessible from HttpContext. The interface is used to abstract over different implementations and storage.

[2015-08-21 17:20] wizarrc commented on #354
@davidfowl I was able to work around my issue by using MapWhen. I understand the usage of each function's intentions now and that it is the intended feature, but I'm still puzzled why an API design would have Map automatically change the base path and not for MapWhen. Seems like an odd design choice to me. I do still rely on MapWhen not changing my base path though.

As for using the new beta, I h

[2015-08-21 18:02] #365 closed

[2015-08-22 14:53] Tratcher commented on #367
This keeps coming up as a useful way to create the structures for calling TestServer.Invoke directly.

[2015-08-22 16:55] davidfowl commented on #367
Ah to avoid going through the HttpClient?

[2015-08-22 22:29] Tratcher commented on #367
Yes. HttpClient is convenient but it can only handle simple scenarios. Katana had a separate API that let you set up the server data structures directly.

[2015-08-24 17:42] glennc commented on #119
Is this something that @blowdart should care about?

[2015-08-24 18:37] blowdart commented on #119
Yea, I'd like to see the PR when it's done, although if you're narrowing to just space and tab I'm not so concerned.

It is worth reviewing where other things call IsWhiteSpace when parsing user input.

[2015-08-26 02:08] sporty81 commented on #374
Well for APM type products that inspect variables, I think it is a lot easier to get the value of a string than a guid.

[2015-08-26 03:28] SergeyKanzhelev commented on #374
In Application Insights all identifier are strings. So we should be good here.

We have two types of user identity - anonymous user and authenticated user. Anonymous user is typically a ```Guid.NewGuid().ToString()```. We use it mostly for filtering and correlation. For authenticated users we recommend to use human-readable strings as we think to use it for usage scenarios.

[2015-08-26 14:18] avanderhoorn commented on #374
Ok sounds good.

[2015-08-26 14:18] #374 closed

[2015-08-28 06:01] avanderhoorn opened #381 "PathString StartingSegment method"
I've been doing some work with `PathString` and for various use cases I have found it useful to have a `StrartingSegment` method. The implementation is fairly simple and I was just wondering if there was any interest in this within on of the HttpAbstraction packages? I've done it as an extension method, but it could also be done as a first class method too.

Here is the basic implementation, happy

[2015-08-28 16:47] #343 closed

[2015-08-29 20:48] Tratcher opened #382 "[Discussion] Introducing StringValues to replace string[]"
A new struct Microsoft.Framework.Primitives.StringValues has been introduced to streamline handling of values that may be empty, single strings, or multiple strings.  The value is implicitly convertable to and from string and string[], and also provides helpers like Concat and IsNullOrEmpty.

https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.Framework.Primitives/StringValues.cs

Th

[2015-08-29 20:52] #361 closed

[2015-08-30 07:39] davidfowl commented on #381
Where have you been using it?

[2015-08-30 07:40] davidfowl commented on #354
Great! Closing out this issue.

[2015-08-30 07:40] #354 closed

[2015-08-30 07:41] #325 closed

[2015-08-30 18:42] avanderhoorn commented on #381
Basically we allow users to register Resources that Glimpse manages. These
resources are "hosted" by the Glimpse server middleware. Additionally,
because Glimpse is managing the endpoint, we can send down the metadata
about resources to the client so that it can discover the correct location
(which can be configured by the user and will be different in different
platforms). Additionally, we levera

[2015-08-31 23:44] #367 closed

[2015-09-02 17:20] atifaziz commented on #382
This abstraction is certainly better than having bare `string[]` everywhere. However, I do have concerns that extreme optimizations like using a `struct` to avoid any sort of allocation (which is only beneficial when you have a single string) is driving some of the type's implementation and design and could lead to a lot of confusion. That is unless the `struct` is implemented with full value sema

[2015-09-02 17:27] Tratcher opened #384 "Should StringValues implement Equals?"
StringValues does not currently implement Equals (or GetHashCode).  MVC implements their own wrapper that has Equals. If so, what should be considered equal?
"string" == new[] { "string" }?
string.Empty == null?
null == new[] { null }?
"value1,value2" == new[] { "value1", "value2" }?
Ordinal?

[2015-09-02 17:27] Tratcher commented on #382
@atifaziz  See https://github.com/aspnet/HttpAbstractions/issues/384

[2015-09-02 17:53] atifaziz commented on #384
Since `StringValues` is logically just an array of strings with some internal optimizations, its equality and hashing should behave like that of an array when being checked for [structural equality](https://msdn.microsoft.com/en-us/library/system.collections.istructuralequatable(v=vs.110).aspx). That would provide the least surprises and yet still permit some customization when needed (e.g. ignore

[2015-09-03 17:16] glennc commented on #384
@Tratcher can you round up @lodejard and @davidfowl to get an answer for this now-ish?

[2015-09-03 19:37] fabiomaulo opened #385 "Interfaces instead abstract classes for HttpContext"
In addition to HttpContext, HttpRequest, HttpResponse would be useful, and more easy to mock using custom impl. instead a mock fw, to have some interfaces.
An example of little difficult is that you can implement something like this
    public override HttpRequest Request { get; set; }
just because the base class does not expose the setter.
Something I have done in the past for a self hosted API (

[2015-09-03 21:12] Tratcher commented on #385
.NET Framework design guidelines:
https://msdn.microsoft.com/en-us/library/vstudio/ms229013(v=vs.100).aspx
"Do favor defining classes over interfaces.
In later versions of your library, you can safely add new members to classes; you cannot add members to interfaces without breaking existing code."

[2015-09-03 21:28] davidfowl commented on #385
Thats not exactly why we didn't do it (we use interfaces other places in the stack). We have 2 layers the feature layer which are all individual feature interfaces and the HttpContext is just a facade over those features. For testing, you should be using the DefaultHttpContext, you can new it up and set all of the properties and makes testing http stuff super easy.

[2015-09-03 21:29] #385 closed

[2015-09-04 12:15] fabiomaulo commented on #385
Understood @davidfowl . I have surfed the code and features (Microsoft.AspNet.Http.Features), is the way to go.
Thanks.

A sms to @Tratcher : "Program to an 'interface', not an 'implementation'." (Gang of Four).
I know... I'm a little old man ;)

[2015-09-04 17:51] PinpointTownes opened #386 "Use DateTimeOffset for CookieOptions.Expires"
https://github.com/aspnet/Security/pull/432#discussion_r38775905

[2015-09-05 22:49] GrabYourPitchforks opened #387 "WebEncoders should support Unicode 8.0"
The Unicode 8.0 standard (http://blog.unicode.org/2015/06/announcing-unicode-standard-version-80.html) was released not too long ago. We should update WebEncoders with the new block information. Currently it uses the Unicode 7.0 block information.

[2015-09-08 15:41] jods4 opened #390 "Cookies separator ','"
Because of this line of code:
https://github.com/aspnet/HttpAbstractions/blob/641a7fb82bf04438356abce8301cc17fe73ddb20/src/Microsoft.Net.Http.Headers/CookieHeaderParser.cs#L94

ASP.NET 5 accepts both `;` and `,` as cookie value separators.
I know RFC 2965 said a server MUST accept `;` and SHOULD accept `,` but newer RFC 6265 only speaks about `;`. Specifically section **5.4 The Cookie Header**, pa

[2015-09-08 17:42] muratg commented on #390
http://www.rfc-editor.org/rfc/rfc6265.txt

@Tratcher

[2015-09-08 17:46] jods4 commented on #390
@muratg  @Tratcher  Especially **4.2.1 Syntax**

   Cookie header.  If the server conforms to the requirements in
   Section 4.1 (and the user agent conforms to the requirements in
   Section 5), the user agent will send a Cookie header that conforms to
   the following grammar:

   cookie-string = cookie-pair *( ";" SP cookie-pair )

[2015-09-08 17:51] muratg opened #391 "Start using System.Text.Encoding.Web from CLR"

[2015-09-08 17:52] muratg commented on #387
https://github.com/aspnet/HttpAbstractions/issues/391

[2015-09-08 21:21] Tratcher opened #393 "Dispose the FileBufferingReadStream created by ReadFormAsync"
BufferingHelper.EnableRewind creates a temp file to store the request buffer in if it gets too large. Currently this file is only deleted when closed by GC, where it could be deleted at the end of the given request. Register for Response.RegisterForDispose when the file is created.

https://github.com/aspnet/HttpAbstractions/blob/dev/src/Microsoft.AspNet.Http/BufferingHelper.cs#L47-L49

[2015-09-08 21:32] #366 closed

[2015-09-09 18:25] muratg commented on #42
@haok will you be able to look into this?

[2015-09-09 21:26] Tratcher commented on #315
@blowdart Is there any action required here? This sounds all by design.

[2015-09-09 21:29] blowdart commented on #315
By design. The MVC team wanted to change it somewhat, but never came up with a suitable suggestion,

[2015-09-09 21:32] #315 closed

[2015-09-10 16:38] Eilon commented on #391
This is now available on the internal share that we use, so this is unblocked.

[2015-09-10 17:20] #387 closed

[2015-09-10 17:22] Tratcher commented on #370
https://github.com/aspnet/HttpAbstractions/issues/353

[2015-09-10 17:22] #370 closed

[2015-09-10 17:55] davidfowl opened #395 "Add ReasonPhrase to HttpResponse"
Because this code
`response.HttpContext.Features.Get<IHttpResponseFeature>().ReasonPhrase = null;` is ridiculous

[2015-09-10 18:01] Tratcher commented on #395
No, it's useless &/ obsolete.

The servers will set the reason phrase based on the status code. The application should only ever consider setting it if they are defining custom status codes, and even then it's optional. Most users just set it to the default values anyways.

HTTP/2 has removed this field.

[2015-09-10 18:31] #360 closed

[2015-09-11 05:59] muratg commented on #391
@Tratcher

[2015-09-11 22:41] HaoK commented on #42
[code]

[2015-09-11 22:42] HaoK commented on #42
Test Map behavior

[2015-09-11 22:47] HaoK commented on #42
Namespace: Microsoft.AspNet.CookiePolicy in security repo stand alone package.

[2015-09-12 01:50] davidfowl commented on #42
This is nice!

[2015-09-13 10:28] davidfowl opened #397 "Split ParsingHelpers into more files"
The file is almost 600 lines long and has 4 classes inside of it.

/cc @Tratcher

[2015-09-14 03:42] davidfowl opened #398 "UseBuilder should take optional Action<IServiceCollection>"
To make it easier to configure services in the ASP.NET 5 pipeline when exposed via Owin

[2015-09-14 12:04] jods4 commented on #390
This is an important issue for me and the fix is trivial.
Would you take a PR and include it in beta-8?

[2015-09-14 16:19] muratg commented on #398
Won't the overload with `Action<IApplicationBuilder>` be enough for that? It has a `ServiceProvider` property.

[2015-09-14 16:30] Tratcher commented on #398
Except ServiceProvider is null: https://github.com/aspnet/HttpAbstractions/blob/f475e53ad235478b5ac35bab31a72e6cafb52156/src/Microsoft.AspNet.Owin/OwinExtensions.cs#L72

[2015-09-14 17:27] muratg commented on #395
@davidfowl Why do we need this?

[2015-09-14 17:28] davidfowl opened #400 "HeaderDictionary is allocated every time it is accessed"

[2015-09-14 17:29] davidfowl commented on #395
If we think nobody needs to use it I'm ok punting. As I said:

[code]

Is ridiculous. We pretty much expose everything else on the IHttpResponseFeature.

[2015-09-14 17:31] Tratcher commented on #395
The features are complete / raw protocol, where HttpContext is about convenience. It is part of the protocol, but we have reasons for not making it convenient.

[2015-09-14 17:34] davidfowl commented on #395
Cool. Closing this out until somebody asks for it.

[2015-09-14 17:34] #395 closed

[2015-09-14 18:16] #397 closed

[2015-09-14 18:35] benaadams opened #402 "[Perf] High Allocator DefaultHttpContext"
For 2000 plaintext requests DefaultHttpContext allocates 12,078 objects:

![image](http://aoa.blob.core.windows.net/aspnet/dhttp_alloc_objects.png)

Clocking in at 927,624 bytes:

![image](http://aoa.blob.core.windows.net/aspnet/dhttp_alloc_bytes.png)

Which would mean if you were performing 1M rps the GC would have to flush 6,039,000 objects and 464 Mbytes per second, 927 Mbytes per second for 2M

[2015-09-14 18:48] rynowak commented on #402
@benaadams - images aren't loading

[2015-09-14 18:52] benaadams commented on #402
@rynowak better? (Have a PR for this)

[2015-09-14 18:53] Tratcher commented on #390
@jods4 Look at section 4.1.1 for the rest of the definition
[code]
Comma is explicitly disallowed in a cookie value.

We recognize comma as a separator because it is the standard separator between multi-line HTTP headers if they get merged to a single line.

People are always putting invalid junk in cookies... you're going to need to work around this by either preprocessing the headers to remove/m

[2015-09-14 18:56] rynowak commented on #402
yeah images are showing up now.

[2015-09-14 22:49] jods4 commented on #390
@Tratcher Interesting. Bear with me as I'm no cookie expert:

First, the paragraph you quote speaks for `Set-Cookie` http header and I'm assuming the same restrictions apply to other means of setting a cookie, e.g. Javascript.

Although it is forbidden inside the value, the comma is still _not_ a valid separator either, is it? Technically it doesn't change the fact that splitting on it is not corr

[2015-09-14 23:05] jods4 commented on #390
I read more of the RFC.
Interestingly section 5.1 describes algorithms that user agents must/should implement.

5.2 is especially interesting because it explains how to parse the `Set-Cookie` header. Right from the start the RFC says:

   Section 4.1.  [...]  User agents use this algorithm so as to
   interoperate with servers that do not follow the recommendations in
   Section 4.

And indeed the

[2015-09-15 07:49] benaadams commented on #402
Have PR that reduces this to 136 objects

![allocs](http://aoa.blob.core.windows.net/aspnet/dhttp_alloc_after.png)

And 20434 bytes total for the lifetime of the app

![allocs](http://aoa.blob.core.windows.net/aspnet/dhttp_alloc_bytes_after.png)

[2015-09-15 09:33] benaadams commented on #402
Using the Test aspnet site: https://github.com/benaadams/IllyriadGames.Server.Web.River.Test on the server https://www.nuget.org/packages/IllyriadGames.Server.Web.River

Before this change and https://github.com/aspnet/DependencyInjection/pull/289 running a 10 second test allows 311,043 rps:

![10 sec run](http://aoa.blob.core.windows.net/aspnet/before_10s.png)

However the GC load is very high so

[2015-09-16 01:09] HaoK opened #406 "PathString argument exception that doesn't start with '/' should say so..."
[code]

This currently gives you an extremely useless ArgumentException:

      System.ArgumentException :
      Parameter name: value
      Stack Trace:
           at Microsoft.AspNet.Http.PathString..ctor(String value)
           at Microsoft.AspNet.Http.PathString.op_Implicit(String s)

This should say PathStrings should start with '/' or something.  I hit this when using Map

[2015-09-16 01:57] Tratcher commented on #406
https://github.com/aspnet/HttpAbstractions/issues/251

[2015-09-16 01:57] #406 closed

[2015-09-16 02:21] benaadams commented on #402
@davidfowl ok if I put most findings in this Issue or do you want me to split with https://github.com/aspnet/DependencyInjection/issues/288

[2015-09-16 02:43] benaadams commented on #402
Some background, pre-changes it starts fastish but you can see is on 100% cpu and the network performance is deteriorating over time:

![image](http://aoa.blob.core.windows.net/aspnet/pre-network-short.png)

Eventually it completely flatlines on network even though CPU is still 100%

![image](http://aoa.blob.core.windows.net/aspnet/pre-network-flatline.png)

It then recovers; though again is follo

[2015-09-16 02:52] benaadams commented on #402
Post change, is still some saw toothing, but is very consistent and a much higher throughput

![image](http://aoa.blob.core.windows.net/aspnet/post-network-running.png)

As is shown in results:

![image](http://aoa.blob.core.windows.net/aspnet/post-network-results.png)

[2015-09-16 04:43] benaadams commented on #402
Top numbers were 2000 requests not 2400; updated

[2015-09-16 04:59] benaadams commented on #402
@davidfowl wanted some more details so breakdown for bytes for first level as follows (will break them down further):

![hc-0](http://aoa.blob.core.windows.net/aspnet/hc-0.png)

[2015-09-16 05:14] benaadams commented on #402
contextFactory.CreateHttpContext(features)

![hc1](http://aoa.blob.core.windows.net/aspnet/hc-1.png)

![hc2](http://aoa.blob.core.windows.net/aspnet/hc-2.png)

[2015-09-16 05:25] benaadams commented on #402
Not addressed in this PR (or DI one) but for completeness:

httpContext.ApplicationServices = _applicationServices;

![hc-3](http://aoa.blob.core.windows.net/aspnet/hc-3.png)
one path
![hc-4](http://aoa.blob.core.windows.net/aspnet/hc-4.png)
other path (constructor at end of line)
![hc-5](http://aoa.blob.core.windows.net/aspnet/hc-5.png)

[2015-09-16 06:50] benaadams opened #407 "Expose Content-Length in IHttpResponseFeature"
At the moment accessing content-length goes to string and back through parsing and the header collection. It is a `long?` on Response.

The string transitions are alloc heavy for 2000 requests at 108k meaning 54 Meg per 1M requests:

![content-length](http://aoa.blob.core.windows.net/aspnet/cl.png)

What I'd much prefer is to have the `long?` directly so I can output that straight to bytes without

[2015-09-16 16:02] Tratcher commented on #407
Is the cost you're measuring for long -> string -> ascii bytes, and you're trying to shorten it to long -> ascii bytes?

Background: System.Web has had no end of problems special casing certain headers to bypass the header collection. Response cookies are a particularly bad example where it keeps a separate collection for them and only adds them to the headers at the end of the response. This caus

[2015-09-16 16:13] Tratcher commented on #390
Comma is supported because servers like IIS take this:
[code]
And convert it to this:
[code]
Which is valid per the HTTP RFC regardless of the cookie RFC.

We also have to interoperate with older clients that use the old cookie RFC.

[2015-09-16 16:13] #390 closed

[2015-09-16 16:17] jods4 commented on #390
@Tratcher Nitpicking but no it is not valid per the Cookie RFC. It states that browsers must only send a single `Cookie` header. So sending two is invalid behavior anyway. Is there any browser that does that?

Any hint as to what the best place to "fix" it in application code is? This is a real problem that I have to work around anyway.

[2015-09-16 16:25] benaadams commented on #407
Trying to shorten it to long -> pre allocated byte buffer; so zero alloc.

Am ok with the other headers, as they come with a user generated cost, and where the user has already created the string; but this is generally always present except if chunked and is a hidden library cost that cannot be worked around.

[2015-09-16 16:29] benaadams commented on #407
For comparison its 30% of the alloc cost of DI: https://github.com/aspnet/DependencyInjection/pull/291

[2015-09-16 16:39] Tratcher commented on #407
StaticFiles does set it but most of our other components don't, they rely on the server to chunk or to buffer and set it for them. In those cases the server can take shortcuts internally.

I can't think of any of our other libraries that set it by default.

[2015-09-16 16:42] rynowak commented on #407
MVC does in some extremely obscure scenarios, but not anything @benaadams or the average user is likely to have encountered.

[2015-09-16 17:42] benaadams commented on #407
With the current set up this is ok:

```httpContext.Response.Headers["Content-Length"] = "fred";```

But using the strongly typed ```ContentLength``` on ```HttpResponse``` as used by [plaintext benchmark](https://github.com/aspnet/benchmarks/blob/master/src/Benchmarks/PlaintextMiddleware.cs#L29) is an anti-pattern:

```httpContext.Response.ContentLength = _helloWorldPayload.Length;```

Which feels

[2015-09-16 17:55] davidfowl commented on #407
The content length being set has to appear in the headers dictionary. It could be lazy be we want a single source of truth. Managing separate ways to set data is a PITA (we know from experience)

[2015-09-16 18:14] benaadams commented on #407
There are already 2 ways; strongly typed on Request route and weakly typed via headers. They both resolve to headers.

You could change this so setting via headers goes to ```IHttpResponseFeature.ContentLength``` with a type check on setting that throws an exception if it can't be set to a long or null. Since there is a level of indirection on setting headers this would be possible.

For output it

[2015-09-16 18:19] benaadams commented on #407
Also it means when deciding to chunk the check is: ContentLength.HasValue vs HeadersDictionary.Contains("Content-Length")+ignore-case

[2015-09-16 18:36] benaadams commented on #407
Content-Length can only be a numeric >= 0 http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.13

but you can set it to a whole bunch of weird via the headers, including multiple values; which if you try to read back via ContentLength will [just say its not set](https://github.com/aspnet/HttpAbstractions/blob/59b44a4c245885ee910e3db14ec5041db80ae44d/src/Microsoft.AspNet.Http/ParsingHelper

[2015-09-16 19:08] benaadams commented on #407
To resolve this issue you'd need to convert it from the header back to a long https://github.com/aspnet/KestrelHttpServer/issues/175

Though kestrel does do the work of re-parsing from the header back to an int perhaps for this reason: https://github.com/aspnet/KestrelHttpServer/blob/c50aec17292b9f6d444da5f11637fd3c9146146d/src/Microsoft.AspNet.Server.Kestrel/Http/MessageBody.cs#L54

[2015-09-16 20:31] benaadams commented on #407
Final thing; have done some improvements to server and now find myself in the particular situation of setting content length being the big allocator in the plaintext middleware:

![plaintext](http://aoa.blob.core.windows.net/aspnet/river-alloc.png)

Ok, now am done...

[2015-09-17 17:44] Tratcher commented on #390
We interop with dozens of non-browser clients as well. It's a big wild web. JSON is explicitly invalid by both specs, there's no reason to try supporting it.

Your best bet is to get the raw header (in midldeware or app code) and parse it yourself, and optionally write back sanitized values to the headers.

[2015-09-17 18:27] jods4 commented on #390
OK. We are discussing several invalid (and mutually incompatible) options, so in the end it's your call which one is more worth interoperating with than the other.

I will try that. I _have to_ write values back because the consumer of the cookies is the Cookie Auth Middleware,

[2015-09-17 22:44] HaoK commented on #42
5cc1fea40045041f77a6bb2bd23e231e24f82da7

[2015-09-17 22:44] #42 closed

[2015-09-19 14:09] RossMerr opened #408 "cookie"

[2015-09-19 14:09] #408 closed

[2015-09-21 22:56] skermajo commented on #390
I had a similar situation where a root domain was setting invalid cookie values (whitespace specifically) that broke the aspnet 5 cookie parser and subsequently the cookie auth middleware. The hacky solution I ended up with was to specifically name the auth cookie and attach a custom cookie manager to the cookie auth middleware. When the auth middleware came looking for it's cookie value, the mana

[2015-09-22 01:52] davidfowl commented on #390
Maybe we just need a better place to sanitize cookie values?

[2015-09-22 03:43] Tratcher commented on #390
Inline middleware is one of the better options. That or hooking into the IRequestCookiesFeature.

[2015-09-22 05:01] davidfowl opened #412 "Expose TraceIdentifier as a property on HttpContext"
It's pretty convenient to make available.

[2015-09-23 03:02] lodejard opened #414 "IFeatureCollection indexer is pretty bad"
This usage is pretty awful:
[code]
It doesn't show up in intellisense, and GetFeature/SetFeature don't appear on HttpContext...

Didn't we have something more like this at one point?
[code]

[2015-09-23 03:04] Tratcher commented on #414
It moved to `httpContext.Features.Get<T>();`

[2015-09-23 03:06] lodejard commented on #414
Oh, the namespace `using Microsoft.AspNet.Http.Features;` means it pretty much won't show up if you don't already know it exists. Is there anything we can do about that?

[2015-09-23 03:11] Tratcher commented on #414
All the interfaces are also on that namespace, so you need to add it anyways. Would be nice if we could make the first time intellesence work better though.

VS feature? Consider the namespace of the thing currently being operated on?

[2015-09-23 03:57] davidfowl commented on #414
We can't Felton's features. We should move things around

[2015-09-23 04:14] Tratcher commented on #414
Just keep in mind that Features are for advanced scenarios like middleware authoring, don't munge them in with all the beginners stuff.

[2015-09-23 04:52] Bartmax commented on #351
:+1:

In my case, I have an Authorization Server and Resource Server on same project.
I want all my api calls to be excluded from Identity middleware while other routes uses Identity. something like:

[code]

[2015-09-23 09:56] benaadams commented on #402
The GC pauses are pretty extreme so will wait for this hotfix rollout before testing further (though that should already be in use for dnx beta8+?): http://blogs.msdn.com/b/maoni/archive/2015/08/12/gen2-free-list-changes-in-clr-4-6-gc.aspx

[2015-09-23 23:16] HaoK commented on #414
Just a +1, I was looking for these methods, and it was hard to find them even looking for them :)

I ended up needing all 3 namespaces for the IServiceProviders change:
[code]

[2015-09-24 01:25] darrelmiller commented on #351
Seems to me that something like that should be called app.UseWhen(...)  It is just a piece of regular middleware that only applies to a subset of the URI space.

[2015-09-25 00:18] Eilon opened #418 "Move Microsoft.Framework.WebEncoders.Testing to this repo"
It's in https://github.com/aspnet/Testing/ right now.

There are currently some circular references in the repo-to-repo dependencies that we'd like to fix, and this is one of them. The idea of putting this package here is that if you're referencing the regular runtime package, you may very well want the companion test-helper package as well.

Note: the package needs to stay in the `/src` folder be

[2015-09-25 00:19] Eilon commented on #418
Related: https://github.com/aspnet/Logging/issues/252

[2015-09-25 13:07] Tratcher commented on #418
Obsolete due to https://github.com/aspnet/HttpAbstractions/issues/391 ?

Also, the Testing package used to be in this repo and was moved for some reason. Need to track that down before moving it back.

[2015-09-25 17:19] Eilon commented on #418
No we still need the test helpers regardless of where the actual encoding logic lives.

Hmm I don't recall why it was ever moved... maybe just to group all the test stuff in one place?

[2015-09-29 22:44] Tratcher commented on #391
@Eilon @muratg 4.0.0-beta-23326 is not compatible with .NET 4.5.1, it requires 4.6. It depends on System.Runtime 4.0.20, where we need 4.0.10 for 4.5.1.

[2015-09-29 22:47] Tratcher commented on #391
@ericstj ?

[2015-09-29 23:00] ericstj commented on #391
It's compiling against quite a few contracts that are only supported in .NET 4.6.

I gave a try at moving it to contract versions that would support .NET 4.5.1 and it is not possible because the implementation [depends on Buffer.MemoryCopy](https://github.com/dotnet/corefx/blob/9ce81a8b75df175987c3dbb00cfca2239ce1178e/src/System.Text.Encodings.Web/src/System/Text/Encodings/Web/TextEncoder.cs#L89)

[2015-09-30 00:35] muratg commented on #391
@ericstj thanks, @KrzysztofCwalina Should we file a bug on your side to track this?  Otherwise we'll need to maintain our implementation at least for Desktop CLR.

[2015-09-30 01:00] KrzysztofCwalina commented on #391
I will fix this tomorrow. No need to file a new bug.

[2015-09-30 01:19] muratg commented on #391
@KrzysztofCwalina Sounds good, thanks!

[2015-09-30 02:09] davidfowl commented on #391
Ifdefs will set you free

[2015-09-30 06:20] Eilon opened #422 "Rename Microsoft.Framework.* to Microsoft.Extensions.*"
Need to rename assemblies and namespaces from `Microsoft.Framework.*` to `Microsoft.Extensions.*`.

Once the change is committed, please post an issue in the https://github.com/aspnet/Announcements/issues/ repo that links back to this issue.

[2015-09-30 13:48] pranavkm commented on #422
What are they extending?

[2015-09-30 14:03] khellang commented on #422
@pranavkm Microsoft, of course! :wink:

TBH, `Microsoft.Extensions.*` sounds like the same old generic dumping ground as `Microsoft.Framework.*` :stuck_out_tongue_winking_eye:

[2015-09-30 15:34] Eilon commented on #422
They're extending the platform in new ways for new features (DI, logging, config, etc.).

[2015-09-30 18:40] KrzysztofCwalina commented on #391
@ericstj, most of our projects in corefx depend on System.Runtime 4.0.20.

[2015-09-30 19:50] ericstj commented on #391
That's because most of these don't intend to run downlevel.  There are a few that have downlevel scenarios (like Immutable & Reflection.Metadata) and intentionally restrict their dependencies to versions that will work on those downlevel platforms.

[2015-09-30 20:37] KrzysztofCwalina commented on #391
@ericstj, almost all (if not all) components in corefx depend on 4.0.20. And it seems like ASP.NET needs to and is successfully using them on 4.5.1 (i.e. downlevel)

[2015-09-30 20:49] Eilon commented on #391
Right, all of DNX, ASP.NET, and EF (with maybe some very small exceptions, where it's usually runtime light-up) need to run on .NET 4.5.1.

[2015-10-01 19:13] Fosol opened #424 "MVC Controller Response - Wrong ContentType"
The default response ContentType of an endpoint that returns a struct value (i.e. int) is "application/json".  However the body contains invalid json as it only has the int value.

If you attempt to set the Response.ContentType = "text/plain" it ignores you and sets it to "application/json".

If you attempt to set the Response.ContentType = "text/plain" through the Response.OnStarting method it re

[2015-10-01 19:19] kichalla commented on #424
@Fosol what content type do you want to send it as? text/plain?...can you check if you return the int as a string you should see the response as text/plain...otherwise you can use the `ContentResult` to set the content and content-type the way you want

[2015-10-01 19:56] Fosol commented on #424
Here's an example endpoint.

        [HttpGet]
        [Route("add/{value1}/{value2}")]
        public int Add(int value1, int value2)
{
            return value1 + value2;
}

The default response ContentType: application/json.  But the body only has the number and therefore is invalid json.

If you return a string it does by default become text/plain.

[2015-10-01 20:09] kichalla commented on #424
do you want to send the data in json format? if yes, you would need to have that value as a proeprty on an object...example: if your return type is `dynamic`, you can return something like `return new { result = value1 + value 2}`...the response would be in json and `{ "result":30 }`

[2015-10-01 20:41] Fosol commented on #424
You mention the ContentResult object.  Does this only work if you are returning something like a ActionResult?

[2015-10-01 23:10] Tratcher commented on #424
This issue was moved to aspnet/Mvc#3245

[2015-10-01 23:10] #424 closed

[2015-10-01 23:22] Tratcher opened #426 "Reduce collection wrapping"
There are several cases where low level APIs produce a basic IDictionary or similar, but then we wrap it in a IFoo : IDictionary to make it more user friendly. These wrappers cause lots of extra allocations on each request, resulting in lots of GCs.  The main culperates are request headers, response headers, query, form, and cookies.

Headers we can fix by moving IHeaderDictionary into the Feature

[2015-10-04 14:21] pranavkm commented on #422
https://github.com/aspnet/HttpAbstractions/commit/61466af7a38497ae25d538e5eb0f4cbcb6f303a0

[2015-10-04 14:21] #422 closed

[2015-10-05 08:25] davidfowl opened #429 "Useful helper methods for common http scenarios"
I was looking at golang's standard library and they have a pretty beefy http package https://golang.org/pkg/net/http. Here are a few that seemed interesting:

https://golang.org/pkg/net/http/#Request.WriteProxy
https://golang.org/pkg/net/http/#ServeContent
https://golang.org/pkg/net/http/#Request.SetBasicAuth (sorry @blowdart :smile: )
https://golang.org/pkg/net/http/#DetectContentType
https://gol

[2015-10-05 08:59] Antaris commented on #422
This seems a little odd.

The previous `Microsoft.Framework` made a bit more sense, because they are defining `Framework` items, the core collection of types used as the "framework". I personally don't think `Extensions` works the same way, because that suggests they are extending *something*. The reality is they don't, they are the "framework` itself? and Microsoft isn't the framework, or the pla

[2015-10-05 11:00] YZahringer opened #430 "SSL CustomCertificateValidator"
Hello,

How to configure allowed SSL certificates?

System.Net.ServicePointManager is unavailable, CustomCertificateValidator also not available in vNext.

There is a new way for this?

Best regards,
Yann